{extend name="public:base"}

		<title>{block name="title"}我的书架{/block}</title>
	{block name="link"}
		<link rel="stylesheet" type="text/css" href="__MODULE_CSS__/bookshelf.css" />
	{/block}
{block name="nav"}{/block}
{block name="main"}
		<section id="section">
			<div class="list">
				<a href="">
					<div class="list_content">
						<img class="list_img" src="__MODULE_IMG__/img-big/11.jpg"/>
						<p class="list_title">复仇冷冷端上</p>
						<p class="list_zuo">左久乐</p>
						<div class="progger">
							<span class="proshow"></span>
							<p class="proval">38.5%</p>
							<p class="unread">未读</p>
							<img class="readed" src="__MODULE_IMG__/img-png/yiyuewan.png"/>
						</div>
					</div>
				</a>
			</div>
			<div class="list">
				<a href="">
					<div class="list_content">
						<img class="list_img" src="__MODULE_IMG__/img-big/11.jpg"/>
						<p class="list_title">复仇冷冷端上</p>
						<p class="list_zuo">左久乐</p>
						<div class="progger">
							<span class="proshow"></span>
							<p class="proval">52.5%</p>
							<p class="unread">未读</p>
							<img class="readed" src="__MODULE_IMG__/img-png/yiyuewan.png"/>
						</div>
					</div>
				</a>
			</div>
			<div class="list">
				<a href="">
					<div class="list_content">
						<img class="list_img" src="__MODULE_IMG__/img-big/11.jpg"/>
						<p class="list_title">复仇冷冷端上</p>
						<p class="list_zuo">左久乐</p>
						<div class="progger">
							<span class="proshow"></span>
							<p class="proval">0%</p>
							<p class="unread">未读</p>
							<img class="readed" src="__MODULE_IMG__/img-png/yiyuewan.png"/>
						</div>
					</div>
				</a>
			</div>
			<div class="list">
				<a href="">
					<div class="list_content">
						<img class="list_img" src="__MODULE_IMG__/img-big/11.jpg"/>
						<p class="list_title">复仇冷冷端上</p>
						<p class="list_zuo">左久乐</p>
						<div class="progger">
							<span class="proshow"></span>
							<p class="proval">100%</p>
							<p class="unread">未读</p>
							<img class="readed" src="__MODULE_IMG__/img-png/yiyuewan.png"/>
						</div>
					</div>
				</a>
			</div>
		</section>
{/block}
{block name="page-script"}
	<script type="text/javascript">
		var length=$(".progger").length;
		for(var i=0;i<length;i++){
			var pro=$(".proval").eq(i).html();
				if(pro=='100%'){
					$(".proshow").eq(i).hide();
					$('.proval').eq(i).hide();
					$(".unread").eq(i).hide();
					$('.readed').eq(i).show();
					$(".progger").eq(i).css("background","none");
				}else if(pro=="0%"){
					$(".proshow").eq(i).hide();
					$('.proval').eq(i).hide();
					$('.readed').eq(i).hide();
					$(".unread").eq(i).show();
					$(".progger").eq(i).css("background","none");
				}else{
					$('.readed').eq(i).hide();
					$(".unread").eq(i).hide();
					$(".progger .proshow").eq(i).css("width",pro);
					$(".progger").eq(i).css("background","#E6E6E6");
				}
		
		}

	</script>
{/block}
