{extend name="public:base"}
		<title>{block name="title"}充值记录{/block}</title>
		{block name="link"}
		<link rel="stylesheet" type="text/css" href="__MODULE_CSS__/record.css" />
		{/block}

{block name="nav"}{/block}
{block name="main"}
		<section id="section">
			<div class="list">
				<a href="javascript:void(0);">
					<div class="fl list_l">
						<img class="fl list_img" src="__MODULE_IMG__/img-png/weixintubiao.png" alt="" />
						<div class="fl list_msg">
							<h3 class="list_title">30元</h3>
							<p class="list_time">10-16 18:30</p>
						</div>
					</div>
					<div class="fr list_r">
						<p>
							<span class="list_m">+3500</span>
							<span class="list_v">都币</span>
						</p>
					</div>
				</a>
			</div>
			<div class="list">
				<a href="javascript:void(0);">
					<div class="fl list_l">
						<img class="fl list_img" src="__MODULE_IMG__/img-png/weixintubiao.png" alt="" />
						<div class="fl list_msg">
							<h3 class="list_title">30元</h3>
							<p class="list_time">10-16 18:30</p>
						</div>
					</div>
					<div class="fr list_r">
						<p>
							<span class="list_m">+3500</span>
							<span class="list_v">都币</span>
						</p>
					</div>
				</a>
			</div>
			<div class="list">
				<a href="javascript:void(0);">
					<div class="fl list_l">
						<img class="fl list_img" src="__MODULE_IMG__/img-png/weixintubiao.png" alt="" />
						<div class="fl list_msg">
							<h3 class="list_title">30元</h3>
							<p class="list_time">10-16 18:30</p>
						</div>
					</div>
					<div class="fr list_r">
						<p>
							<span class="list_m">+3500</span>
							<span class="list_v">都币</span>
						</p>
					</div>
				</a>
			</div>
			<div class="list">
				<a href="javascript:void(0);">
					<div class="fl list_l">
						<img class="fl list_img" src="__MODULE_IMG__/img-png/weixintubiao.png" alt="" />
						<div class="fl list_msg">
							<h3 class="list_title">30元</h3>
							<p class="list_time">10-16 18:30</p>
						</div>
					</div>
					<div class="fr list_r">
						<p>
							<span class="list_m">+3500</span>
							<span class="list_v">都币</span>
						</p>
					</div>
				</a>
			</div>
		</section>
{/block}
{block name="page-script"}
{/block}