html{
	font-size: .24rem;
	height: 100%;
}
li{
	list-style: none;
}
body {
    min-width: 320px;
    max-width: 720px;
    margin: 0 auto;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    position: relative;
    font-family: "Microsoft Yahei",Arial,Helvetica,sans-serif;
    font-size: .24rem;
    color: #333333;
}
p{
	margin-bottom: 0;
}
.font-hid {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.dou_hang{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
#header{
	width:100%;
	height: 0.8rem;
	line-height: 0.8rem;
	background-color: #fff;
	position: fixed;
	left: 0;
	top: -0.8rem;
	z-index: 9999;
	opacity:1;
	padding: 0 0.34rem;
	display: flex;
	display: -webkit-flex;
	display: box;
	justify-content: space-between;
}

.header_return{
	width: 1rem;
	height: 0.8rem;
	line-height: 0.8rem;
}
.header_return img{
	width:0.46rem ;
	height: 0.46rem;
}
.header_content{
	font-size: 0.34rem;
	color: #2D0504;
}
.header_home{
	width: 1rem;
	height: 0.8rem;
	line-height: 0.8rem;
	text-align: right;
}
.header_home img{
	width: 0.43rem;
	height: 0.43rem;
}

#section{
	/*margin-top: 0.8rem;
	margin-bottom: 0.93rem;*/
}
.cartoon_list{
	text-align: center;
}


#footer{
	width: 100%;
	height: 0.93rem;
	line-height: 0.93rem;
	background: #fff;
	position: fixed;
	left: 0;
	bottom: -0.93rem;
	z-index: 9999;
	opacity:0;
	display: flex;
	display: -webkit-flex;
	display: box;
	justify-content: space-around;
}
#footer>div{
	width: 33.33333%;
	height: 0.93rem;
	line-height: 0.93rem;
}
#footer>div>a{
	display: block;
	width: 100%;
	height: 100%;
	line-height: 0.93rem;
	text-align: center;
	color: #2D0504!important;
	font-size: 0.3rem;
	display: flex;
	display: -webkit-flex;
	display: box;
	align-items: center;
	justify-content: center;
}
.footer_shou img{
	width: 0.46rem;
	height: 0.46rem;
	line-height: 0.93rem;
	margin-right: 0.1rem;
}
.footer_send img{
	width: 0.46rem;
	height: 0.46rem;
	line-height: 0.93rem;
	margin-right: 0.1rem;
}
#mock{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	position: fixed;
	z-index: 100;
	display: none;
}
