<html lang="zh-CN" class="pixel-ratio-2 retina android android-6 android-6-0">

    <title>{$book['title']}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- <meta data-msg-img="https://mp.weixin.qq.com/misc/getheadimg?token=451079182&fakeid=3223542308&r=883493"> -->
    <link rel="stylesheet" href="__MODULE_CSS__/vendor.css">
    <link rel="stylesheet" href="__MODULE_CSS__/front.css?v1.4.0}">
    <link rel="stylesheet" href="__MODULE_CSS__/main.css?v1.4.0">
    <script src="__MODULE_JS__/vendor.js?20170823"></script>
    <script src="__MODULE_JS__/app.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <link href="__MODULE_CSS__/font_apds0v8n2bhp8pvi.css?20170823" rel="stylesheet">
    <style>
        body,html{-webkit-tap-highlight-color:transparent}
        body{overflow-x:hidden;background-color:#fff;font-style: normal;font-weight: 400}
        .inblock{display:inline-block;}
        .container{height:100%;-webkit-overflow-scrolling:touch}
        .hd{padding:1.2em 0 0.2em 0;display: none;}
        .hd_buy{display: block;}
        .bd{padding-top:5px;}
        .search_show .weui_cell_bd{padding:2px 0 2px 20px;color:#666}
        .enter,.leave{position:absolute;top:0;right:0;bottom:0;left:0;z-index:1}
        .enter{-webkit-animation:a .2s forwards;animation:a .2s forwards}
        .leave{-webkit-animation:b .25s forwards;animation:b .25s forwards}
        .wpT30 {width: 33.3333333333%;box-sizing: border-box;}
        .bcddd {border-bottom-width: 1px;border-bottom-style: solid;border-top-width: 1px;border-top-style: solid;padding-top: 10px;padding-bottom: 10px;}
        .br {border-right-width: 1px;border-right-style: solid;}
        .bl {border-left-width: 1px;border-left-style: solid;}
        .bc {border-color: #ddd;}
        .fl {float: left;}
        .f14{font-size: 14px;}
        .tc {text-align: center;}
        .ptb10 {padding-top: 10px;padding-bottom: 10px;}
        .ptb0 {padding-top: 0px;padding-bottom: 0px;}
        li {display: list-item;text-align: -webkit-match-parent;}
        ul {display: block;-webkit-margin-before: 1em;-webkit-margin-after: 1em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;}
        .weui_btn_primary:not(.weui_btn_disabled):active {
    color: hsla(0,0%,100%,.4);
    background-color: #039702;.weui_btn_primary:not(.weui_btn_disabled):visited {
    color: #fff;
    }
    .weui_btn_area{margin:0px;}
    front.css:1
    .weui_btn_primary {
        background-color: #10AEFF;
    }
    vendor.css:5
    .weui_btn_primary {
        background-color: #04be02;
    }
}
.weui_panel:after,.weui_panel:before{border:none;}
    .weui_article {
        padding: 0px 15px 15px 15px;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: normal;
        line-height: 180%;

        color: #333;
    }

    .weui_article p {
        margin: .7em 0;
        text-indent: 2em;
    }
    .weui_btn+.weui_btn{margin-top:0px}
    .weui_btn:after{border:2px solid;}
    .article-foot-actions{margin-bottom: 0px;padding-bottom:10px;}
    .article-foot-actions .weui_btn:after{border-color: #d7bf9f;}
    .weui_actionsheet_cell:before{border-top:none;}
    .tag-panel{display: none}
    .tag-cell{display: flex;}
    .tag-text{flex:0.7;}
    .tag-content{flex:4;text-align: left;}
    .bg-opt{border-radius: 50%;width:30px;height:30px;background:#000;margin:0px 10px;}
    .bg-EBE1D8{background:#EBE1D8;}
    .bg-DEEDF0{background:#DEEDF0;}
    .bg-FAE3ED{background:#FAE3ED;}
    .bg-FFFFFF{background:#FFFFFF;}
    .bg-000000{background:#000000;}
    .font_size{color:#000;padding:3px 4px;width: 40%;border:1px solid #d7bf9f;text-align: center;border-radius: 15px;margin:0px 10px;}
    section p:first-child{margin-top:0px;}
    .inner-opt{position: absolute;bottom:0px;width:100%;overflow: hidden;padding:15px 0px 0px 15px;background: #fff;}
    .act-opt{font-size: 15px;width: 31%}
    .pd60{padding-top:60px;}
    .footer{margin-top:0px;}
    @media screen and (max-width: 320px){
        .bg-opt{width:25px;height:25px;}
        .act-opt{font-size: 10px;}
        .tag-text{flex:0.8;}
    }
    .novel-list{border-top: #EFEEF4 2px solid;}
    .novel-list-title{display: flex; line-height: 25px;padding: 10px 0;padding-bottom:0px;}
    .novel-list-title-icon{flex: 0.5;margin-left: 10px;}
    .novel-list-title-icon img{margin-top: 4px ;width: 4px;height: 18px}
    .click-item{background: none}
    .click-item:active{background:#ECECEC;}
    .buy{background:url('__MODULE_IMG__/zhao.png');background-repeat: no-repeat;background-size: 100% 100%;background-position: 0px 0px;padding:15px 0px;padding-top:80px;}
    .pay_desc{overflow:hidden;text-overflow:ellipsis;-webkit-box-orient: vertical;-webkit-line-clamp:3;display: -webkit-box;font-size: 14px;line-height: 24px;}
     .product-item.active div{color:#ff8c00;}
      .product-item.active .offer span{color:#fff;}
      .product-item{position: relative;padding:10px 0px;overflow: hidden;}
      .product-item .product-welth{margin-bottom: 8px;color:#FF5548;font-weight: 500}
      .offer{position:absolute;top:0px;width:40px;height:40px;font-size:0.87em;color:#fff;line-height: 17px;}
      .left_title{left:0px;background:url(__MODULE_IMG__/detail_tag_left.png);background-size:100% 100%;}
      .right_title{right:0px;background:url(__MODULE_IMG__/detail_tag_right.png);background-size:100% 100%;}
      .offer span{display: inline-block;position:relative;}
      .left_title span{transform:rotate(-45deg);-ms-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-webkit-transform:rotate(-45deg); -o-transform:rotate(-45deg);left:-6px;top:5px;}
      .right_title span{transform:rotate(45deg);-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg); -o-transform:rotate(45deg);right:-7px;top:3px;}
      .titleb{color:#000;}
      .titlec{color:#9B9B9B;}
      @media screen and (max-width: 320px){
        .offer{font-size:0.75em;top:0px;}
        .left_title{}
        .right_title{}
      }
      .product-cell{margin:0px 1%;}
      .value{color:#151515;}
      .products-grid{margin:10px 0px;}
      .product-item{border:1px solid #E4E1E1;background:#F8F8F8;}
      .product-item.active{border:1px solid #D6A464;background:#FFF6EB;}
      .product-item.active .value,.product-item.active .titlec{color:#FF5448;}
      .product-item.active .titleb{color:#000;}
      .product-item.active .product-info{border-top-color:#FECB89;}
      .product-item .product-info{padding-top:8px;border-top: 1px solid #E4E1E1;line-height: 1.4em}
      #payForm a:hover,.buy a:hover{color:#fff;}
      .original_price{font-size:14px;}
</style>
<div class="container" style="padding-bottom:0;" >
    <div class="article" id="article-main">
        {include file="public/header"}
        <div class="bd" {if !empty($zpay)}style="padding-top:45px"{/if}>
            <article class="weui_article" id="article">
            <div style="font-weight:400;left:15px;color:#9e9898;font-size:12px">{$document['title']}</div>
                <section id="art_con">
                   {$document.content|default=""}
                </section>
            </article>
{if !isset($zpay)}
                    <!-- 热门 -->
            {if empty($f) && empty($tgid)}
            {if count($hot_tj)>0}
                <div class="novel-list">
               <div class="novel-list-title" style="padding-bottom:10px">
                    <div class="novel-list-title-icon"><img src="__MODULE_IMG__/icon_line_hot.png" alt="" style=""></div>
                    <div class="novel-list-cate"><em>热门推荐</em></div>
                </div>
                            {volist name="hot_tj" id="vo" offset="0" length='99'}
                                <div class="novel-item click-item">
                                        {if empty($vo.link)}
                                        <a style="width: 100%"><span style="float: left;" class="tjn">{$vo.name}</span> <span style="color: #66b2ff;float: right;"></span></a>
                                         {else /}
                                        <a style="width: 100%" href="{$vo.link}" class="count-click" data-tag='11' data-id="{$vo.id}"><span style="float: left;     display: -webkit-box;
                -webkit-box-orient: vertical;-webkit-line-clamp:1;overflow: hidden;width: 80%" class="tjn">{$vo.name}</span>  <span style="color: #66b2ff;float: right;">查看详情</span></a>
                                        {/if}
                                </div>  
                            {/volist}
                            </div>
            {/if}
            {/if}
            <!-- 热门 -->
                        {if $isgz['showFollowPopupOnNext'] == "false"}
                            {if $isgz['forceFollow'] == "true" }
                                <div class="article-foot-actions" style="padding: 0px 15px;padding-bottom:10px">
                                    {if($isgz['zindex'] > 1)}
                                        <a class="btnmenu weui_btn btn-prev-article act-opt" style="" href="{$prev.url}{if !empty($tgid)}?t={$tgid}{/if}">上一章</a>
                                    {else /}
                                        <a class="btnmenu weui_btn btn-prev-article act-opt" style="" href="javascript:$.toast('没有上一章');">上一章</a>
                                    {/if}
                                    {if empty($tgid) || (!empty($tgid) && empty($f))}
                                    <a class="btnmenu weui_btn btn-prev-article act-opt" style="margin:0px 3.5%" href="{:url('cms/column/indexidx', ['bid' => $document.bid, 'id' => $document.id])}">目录</a>
                                    {/if}
                                    <a class="btnmenu weui_btn btn-next-article act-opt" style="" href="javascript:;" data-url="{$next.url}?updateReadHistory=true{if !empty($tgid)}&t={$tgid}{/if}">下一章</a>
                                </div>
                            {else}
                                <div class="article-foot-actions" style="padding: 0px 20px;padding-bottom:10px">
                                    {if($isgz['zindex'] > 1)}
                                        <a class="btnmenu weui_btn btn-prev-article act-opt" style="" href="{$prev.url}?f=1{if !empty($tgid)}&t={$tgid}{/if}">上一章</a>
                                    {else /}
                                        <a class="btnmenu weui_btn btn-prev-article act-opt" style="" href="javascript:$.toast('没有上一章');">上一章</a>
                                    {/if}
                                    {if empty($tgid) || (!empty($tgid) && empty($f))}
                                    <a class="btnmenu weui_btn btn-prev-article act-opt" style="margin:0px 3.5%" href="{:url('cms/column/indexidx', ['bid' => $document.bid, 'id' => $document.id])}" >目录</a>
                                    {/if}
                                    <a class="btnmenu weui_btn btn-next-article act-opt" style="" href="javascript:;" data-url="{$next.url}?updateReadHistory=true&f=1{if !empty($tgid)}&t={$tgid}{/if}">下一章</a>
                                </div>
                            {/if}
                        {/if}
                        {if $isgz['showFollowPopupOnNext'] == "true"}
                            <div style="font-size:16px;color:#333; text-align: center;padding-bottom:40px">
                            <div style="margin:0px auto 0px auto; font-size:14px; font-weight: bold; color:#999999;">由于篇幅限制，本页面只有更新到这！</div>
                            <div style="margin:5px auto 10px auto; font-size:12px; font-weight: bold; color:red;">↓长按识别二维码关注公众号，继续查看后续精彩内容↓</div>
                            <div align="center"><img src="{if empty($tgid_ew)}{$isgz.ewm}{else /}{:get_thumb($tgid_ew)}{/if}" style="width:55%;"/></div>
                            <div style="margin:10px auto; font-size:12px; font-weight: bold; color:red;">关注后，点击“继续阅读”看后续精彩内容</div>
                            </div>
                        {/if}
                        <!-- 广告 -->
            {if empty($f) && empty($tgid)}
            {if count($advertise)>0}             
                            <div>
                            <a href="{if !empty($advertise[0]['url'])}{$advertise[0]['url']}{else /}javascript:;{/if}" class="count-click" data-tag='8' data-id="{$advertise[0]['id']}">
                                <img src="{$advertise[0]['cover']|get_thumb}">
                                </a>
                            </div>
            {/if}
            {/if}
                     <!-- 广告 end-->
{else /}
      
{/if}
        </div>
    </div>
    {if empty($zpay) && empty($tgid)}{include file="public/footer" /}{/if}
</div>





    <div class="weui_panel weui_panel_access {if empty($zpay)}tag-panel{/if}" style="position:fixed;top:0%;width:100%;height:100%;margin:0px;padding:0px;background: rgba(0,0,0,0.5);">
    {if isset($zpay)}

        <div class="inner-opt buy" id="tag" style="font-size: 16px;background-color: none">
            <div><img src="__MODULE_IMG__/zhiche.png" alt="" style="padding:0px 25px"></div>
                  {if $zpay['status']==true && $zpay['code']==1}
                   <div style="margin:0px 15px;margin-top:10px;line-height: 26px">
                   <p>全本价格：<span style='color:#FF5448'>{$bookprice}</span> 元　<span class="original"><span class="original_price"><del>( 原价 {$original} 元 )</del></span></span></p>
                    <p><span style='color:#FF5448'>账户余额：<span id="coin">{$usercoin}</span> 元</span> ( 1元=100书币 )</p>
                    </div>
                    <p class="weui_btn_area" style="margin-top:10px">
                        <a id="confirm" href="javascript:;" class="weui_btn weui_btn_primary" style="background: #0099FF">解 锁</a>
                    </p>
                    <div style="font-size:12px"> 
                            <div class="pay_desc" style="padding-left:7px;margin:10px 15px">{$book['pay_desc']}</div>
                            <div style="font-size:10px;color:#D6A464;padding:6px 5px;padding-bottom:0px;text-align: center">
                                <div style="padding-left:2px;text-align:center;">此书为优质出版图书，按全本定价折扣销售，购买后可阅读该书全部章节</div>
                            </div>
                    </div>
                {else /}
                    <div class="weui_btn_area pl7" style="padding-left:7px;line-height: 24px">
                        {if empty($bookzpay['packsell'])}
                        章节字数：<span style='color:darkorange'>{$chapterzishu}</span> 字
                        <br />
                        本章价格：<span style='color:#FF5448'>{$shubi}</span> 书币 
                        <br />
                        <span style='color:#FF5448'>账户余额：<span style='color:#FF5448' id="coin">{:moneyToCoin($usercoin)}</span> 书币</span> ( 1元=100书币 )
                      {else /}
                        全本价格：<span style='color:#FF5448'>{$bookprice}</span> 元　<span class="original"><span class="original_price"><del>( 原价 {$original} 元 )</del></span></span>
                        <br />
                        <span style='color:#FF5448'>账户余额：<span id="coin">{$usercoin}</span> 元</span> ( 1元=100书币 )
                      {/if}
                    </div>
                        <p class="weui_btn_area" style="margin-top:10px">
                        <a id="btn-pay" href="javascript:;" class="weui_btn weui_btn_primary" style="background: #FF5448">充值并解锁</a>
                        </p>
                    <div style="font-size:12px">
                        {if !empty($book['packsell'])} 
                            <div class="pay_desc" style="padding-left:7px;margin:10px 15px">{$book['pay_desc']}</div>
                            <div style="font-size:10px;color:#D6A464;padding:6px 5px;padding-bottom:0px">
                                <div style="padding-left:2px;text-align:center;">此书为优质出版图书，按全本定价折扣销售，购买后可阅读该书全部章节</div>
                            </div>
                        {else /}
                        <div style="font-size:12px;color:#D6A464;padding:6px 15px;display: flex;padding-bottom:0px">
                            <div style="text-align: right;color:#000">提示：</div>
                            <div style="color:#999">
                                <p>1.如充值未到账，请确认当前账号与充值账号是否一致</p>
                                <p>2.如有问题请联系客服，客服微信号：huotun666</p>
                            </div>
                        </div>
                        {/if}
                    </div>
                {/if}      
    {else /}    
    <div class="inner-opt" id="tag" style="font-size: 16px">
            <em>
            <div class="weui_actionsheet_menu">
                <!-- <div class="tag-cell"><div class="tag-text">亮度：</div><div class="tag-content"></div></div> -->
                <div class="tag-cell" style="padding-top: 10px">
                    <div class="tag-text" style="padding-left: 10px">背景：</div>
                    <div class="tag-content">
                        <span class="inblock bg-opt" style="background:#EBE1D8" bgc="#EBE1D8"></span>
                        <span class="inblock bg-opt" style="background:#DEEDF0" bgc="#DEEDF0"></span>
                        <span class="inblock bg-opt" style="background:#FAE3ED" bgc="#FAE3ED"></span>
                        <span class="inblock bg-opt" style="background:#FFFFFF;border:1px solid #F4EFEB" bgc="#FFFFFF"></span>
                        <span class="inblock bg-opt" style="background:#2C2C2C" bgc="#2C2C2C"></span>
                    </div>
                </div>
                <div class="tag-cell" style="padding-top: 15px">
                    <div class="tag-text" style="padding-left: 10px">字体：</div>
                    <div class="tag-content" style="margin-top: -3px">
                        <div class="font_size inblock" id="desc">A-</div>
                        <div class="font_size inblock" id="add">A+</div>
                    </div>
                </div>
            </div>
            {if $isgz['showFollowPopupOnNext'] == "false"}
                <div class="article-foot-actions" style="background: #fff;margin:0px;padding-top: 20px">
                    {if ($isgz['zindex'] > 1)}
                        <a class="weui_btn btn-prev-article" style="font-size: 16px;" href="{$prev.url}{if !empty($tgid)}?t={$tgid}&f={$f}{/if}">上一章</a>
                    {else}
                    <a class="weui_btn btn-prev-article" style="font-size: 16px;" href="javascript:$.toast('没有上一章');">上一章</a>
                    {/if}
                    {if empty($tgid) || (!empty($tgid) && empty($f))}
                    <a class="weui_btn btn-prev-article{if !empty($is_collect)} cc{/if}" style="font-size:16px;margin:0px 2.5%" id="collect" collect-id="{$is_collect.id}">{if !empty($is_collect)}已收藏{else /}收藏{/if}</a>
                    {/if} 
                    <a class="weui_btn btn-next-article" style="font-size: 16px;margin-right:5%" href="javascript:;" data-url="{$next.url}?updateReadHistory=true{if !empty($tgid)}&t={$tgid}&f={$f}{/if}">下一章</a>
                </div>
            {/if}
        </em>
    {/if}
        </div>
    </div>


     <div id="payForm" style="display: none;width:100%;height:100%;background:rgba(0,0,0,0.5);position: fixed;top:0px;left:0px;z-index: 98">
        <div id="product" style="position:relative;top:50%;background:#fff;left:50%;border-radius: 10px;padding:15px;width:80%">
            <div id="get_width" style="text-align: center;font-size:16px;color:#3F4137">
                <span style="color:#000;font-weight: 500;">请选择充值金额</span>
                <br>
                <span style='color:#FF5448;font-size:12px'> {if !empty($active) && !empty($active['active_page_title'])}{$active['active_page_title']}{else /}{:config('web_pay_desc')}{/if}</span>
            </div> 
            <div id="products-grid" class="products-grid clearfix"> 
                {volist name="pro" id="vo" key="k" length="4"}
                    <div class="product-cell" style="width: 48%">
                        <div class="product-item {if empty($noselect)}
                                                     {if $k==1} active{/if}
                                                  {else /}
                                                    {if $vo.status==1} active{/if}
                                                  {/if}" data-pid="{$vo.id}" data-welth="{$vo.score}">
                        <div style="color:#999">充值</div>
                            {if !empty(trim($vo.left_title))}
                            <div class="offer left_title">
                                <span>{$vo.left_title}</span>
                            </div>
                            {/if}
                            {if !empty(trim($vo.offer_title))}
                            <div class="offer right_title">
                                <span>{$vo.offer_title}</span>
                            </div>
                            {/if}
                            <div class="product-welth">
                                <span class="value">
                                {$vo.titilea}</span>
                            </div>
                            <div class="product-info">
                                <div class="titleb">{$vo.titileb}</div>
                                <div class="titlec">{$vo.titilec}</div>
                            </div>
                        </div> 
                    </div> 
                {/volist}
            </div>
            <a id="btn-pay-confirm" href="javascript:;" class="weui_btn weui_btn_primary" style="background: #FF5448">立即充值</a>

            <div id="closeBtn" style="position: absolute;top:-10px;right:-10px;width:30px"><img src="__MODULE_IMG__/close.png" alt=""></div>
        </div>
     </div>
<!-- </script> -->

<script type="text/html" id="tmpl-gifts">
  <ul class="actionsheet-tip">
    {{#each gifts}}<li>
      <a class="btn-gift" data-gift-id="{{id}}">
        <img src="{{img_url}}" alt="{{title}}">
        <span class="text"><span class="price">{{wealth}}</span>书币</span>
      </a>
    </li>{{/each}}
  </ul>
</script>

<script>

    $(function () {
        <?php 
        if (isset($zpay) ){
           echo '$(".tag-panel").css("display","block");';
        }
        ?>
        /**********功能************/
            $('#confirm').on('click', function(){
                $.post('/index.php/cms/pay/paybybook/', {
                    bid:'{$zpay.bid}',
                    zid:'{$zpay.zid}',
                    isPost:'1'
                },function(ret){
                    if(ret.status == 4){
                        $('#money').text(ret.curscore/100);
                        $.toast(ret.message);
                        location.reload()
                    }else{
                        $.toast(ret.title);
                    }
                })
            })


         var cid = '{$chapterId}';
        var packsell = '{$book["packsell"]}';
        var bookid = '{$book["id"]}';
        function jsApiCall(json){
            WeixinJSBridge.invoke(
                'getBrandWCPayRequest',
                json,
                function(res){
                    if(res.err_msg == "get_brand_wcpay_request:ok" ) {
                        if(packsell == 1 || packsell == '1'){
                            $.post('/index.php/cms/pay/paybybook', {bid:'{$book.id}', zid:cid,packsell:true});
                        }
                        location.reload();
                    }else{
                        if(res.err_msg == "get_brand_wcpay_request:cancel"){
                            $.modal({
                                    title: '取消支付',
                                    text: '支付已取消',
                                    buttons: [{
                                        text: '确定',
                                        className: 'default',
                                        onClick: function () {
                                            submitting = false;
                                        }
                                    }
                                ]
                            });
                        }else{
                            $.modal({
                                title: '支付失败',
                                text: '支付失败，请重新选择进行支付',
                                buttons: [{
                                        text: '确定',
                                        className: 'default',
                                        onClick: function () {
                                            submitting = false;
                                        }
                                    }
                                ]
                            });
                        }
                    }
                }
            );
        }
        function callpay(json) {
            if (typeof WeixinJSBridge == "undefined"){
                if( document.addEventListener ){
                    document.addEventListener('WeixinJSBridgeReady', jsApiCall(json), false);
                }else if (document.attachEvent){
                    document.attachEvent('WeixinJSBridgeReady', jsApiCall(json)); 
                    document.attachEvent('onWeixinJSBridgeReady', jsApiCall(json));
                }
            }else{
                jsApiCall(json);
            }
        }
        var articleId = null;
        var returnUrl = '';
        var tradeType = '';
        var submitting = false;
        $('#products-grid .product-item').click(function () {
            $('#products-grid .product-item').removeClass('active');
            $(this).addClass('active');
        });
        $('#btn-pay-confirm').click(function () {
            if (submitting) {
                return false;
            }
            submitting = true;
            var productId = $('#products-grid .product-item.active').data('pid');
            
            var url = "/index.php/cms/pay/pay.html?id=" + productId + "&bid=" + bookid;
            if (articleId) {
                url += '&aid=' + articleId;
            }
            if (tradeType) {
                url += '&trade_type=' + tradeType;
            }
            if (returnUrl) {
                url += '&return=' + encodeURIComponent(returnUrl);
            }
            if (1==1) {
                $.post(url,{},function(resu){
                    var jsonObj=JSON.parse(resu);
                    callpay(jsonObj);
                })
            }
       
            return false;
        })

        // $('#products-grid .product-item').click(function () {
        //     $('#products-grid .product-item').removeClass('active');
        //     $(this).addClass('active');
        // });
        // $('#btn-pay-confirm').click(function () {
        //     var productId = $('#products-grid .product-item.active').data('pid');
        //      $.ajax({
                
        //          url: '/index.php/cms/pay/testpay',
        //          type: 'POST',
        //          data:{'id':productId,'bid':bookid,'cid':cid},
        //          dataType: 'json',
        //           async: false,//同步  
        //          success:function(json){
        //             gopay(json.token_id);
                  
             
        //          }
        //      });

        //      function gopay(data) {
        //         window.location.href="https://pay.swiftpass.cn/pay/jspay?token_id="+data+"&showwxtitle=1";
        //      }
        // })
        /**********功能************/


        var style = {};
        if('{$style[0]}' != ''){
            style['bg'] = '{$style[0]}';
            style['font'] = '{$style[1]}';
            $('.weui_article section').css('font-size', '{$style[1]}');
            var init_c = $('.bg-opt').eq('{$style[0]}').attr('bgc');
            $('#article-main .bd,.footer').css('background', init_c);
            if(init_c == '#2C2C2C'){
                $('.footer').css('background', '#fff');
                $('.weui_article section#art_con').css('color', '#AFB1AE');
                $('.novel-list').css('color', '#AFB1AE');
                $('.tjn').css('color', '#AFB1AE');
                $('.btnmenu').css('color', '#AFB1AE');
            }
        }
        
        $('.bg-opt').click(function(){
            setstyle(1,0,this);
        });
        
        $('.font_size').click(function(){
            setstyle(0,1,this);
        })

        function setstyle (issetcolor, issetfontsize, obj) {
            if(issetcolor) {
                var bg = $(obj).attr('bgc');
                $('#article-main .bd,.footer').css('background', bg);
                if(bg == '#2C2C2C'){
                    $('.footer').css('background', '#fff');
                    $('.weui_article section#art_con').css('color', '#AFB1AE');
                    $('.novel-list').css('color', '#AFB1AE');
                    $('.tjn').css('color', '#AFB1AE');
                    $('.btnmenu').css('color', '#AFB1AE');
                }else{
                    $('.weui_article section#art_con').css('color', '#333');
                    $('.novel-list').css('color', '#333');
                    $('.tjn').css('color', '#333');
                    $('.btnmenu').css('color', '#333');
                }
                style['bg'] = $(obj).index();
            }

            var type = $(obj).attr('id');
            var size = parseInt($('.weui_article section').css('font-size'));
            if (issetfontsize) {
                if(type == 'add' && size < 26){
                    size += 1;
                }else if(type == 'desc' && size > 10){
                    size -= 1;
                }
                $('.weui_article section').css('font-size' , size);
                style['font'] = size + 'px';
            }
        }

        $('#collect').on('click', function() {
            // if($(this).prop('class').indexOf('cc') != -1){
            //     return false;
            // }
            $.post("/index.php/cms/document/operate",{bid:'{$book.id}',num:1,type:1,collect:'collect'},function(resu){
                $.toast(resu.msg);
                if(resu.code == 2){
                    $('#collect').text('已收藏');
                    $('#collect').attr('collect-id', resu.id);
                    // $('.cc').on('click',cancel_book);
                }
            })
        })

        /**
         * 取消收藏
         */
        // function cancel_book(){
        //     id = $('#collect').attr('collect-id');
        //     $.post('{:url("cms/user/delbooksheet")}', {id:id}, function(res){
        //         if(res){
        //             $.toast('已取消收藏');
        //             $('#collect').text('收藏').removeClass('cc');
        //         }
        //    })
        // }
        // $('.cc').click(cancel_book);
        $('#btn-pay').click(function () {
            $('#payForm').show();
            var w = $('#get_width').width() + 30;
            var h = $('#product').height() + 30;
            $('#product').css({'margin-left': -w / 2 + 'px', 'margin-top': -h / 2 + 'px'});
            
        });
        $('#closeBtn').click(function () {
            $('#payForm').hide();
        });
        $('#article').click(function () {
            $('.tag-panel,.hd').show();
            // $('#tag').animate({'margin-top':'-189px'}, 300)
        });
        $(".tag-panel").on("click",function(ev) {
           if(ev.target==this){
                if(JSON.stringify(style) != "{}"){
                   $.post('{:url("cms/user/savestyle")}',{style:style})
                }
               $(this).hide();
               $('.hd').hide();
           }
       })

        function getTodayString() {
            var date = new Date();
            return date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();
        }

        var strToday = getTodayString();

        // 检查是否签到过
        window.localStorage.removeItem('last_checkin_date');
        var lastCheckinDate = window.localStorage.getItem('last_checkin_date');
        if (lastCheckinDate !== strToday) {
            checkin();
        }

        function checkin() {
            $.ajax({
                url: '/index.php/cms/document/addcore/usecenter/1/',
                type: 'POST',
                contentType: 'application/json'
            })
                .then(function (result) {
                    if(result.status == 1){
                        setCheckedIn();
                        $.modal({
                            title: '签到成功',
                            text: '<p>每日首次阅读, 赠送 <span style="color:orangered">' + result.score + '</span> 书币</p>' +
                            '<p style="margin-top:10px">请明日继续签到哦</p>',
                            buttons: [
                                {text: '我知道啦'}
                            ]
                        })
                    }
                })
                .fail(function (xhr) {
                    var result = JSON.parse(xhr.responseText);
                    // 如果是未关注用户, 第一天无需自动签到, 标记为已签到,以减少后续 API 请求
                    // 如果是重复签到, 说明用户可能是在新设备访问, 补充标记
                    if (result.code === 'not_subscribed' || result.code === 'already_checked_in') {
                        setCheckedIn();
                    }
                });
        }

        

        function setCheckedIn() {
            window.localStorage.setItem('last_checkin_date', strToday);
        }
    });
  (function (global) {
    var gifts = [{"id":1,"title":"\u9c9c\u82b1","img_url":"\/public\/static\/cms\/img\/gift_1.jpg","wealth":100},{"id":2,"title":"\u638c\u58f0","img_url":"\/public\/static\/cms\/img\/gift_2.jpg","wealth":388},{"id":3,"title":"\u94bb\u6212","img_url":"\/public\/static\/cms\/img\/gift_3.jpg","wealth":588},{"id":4,"title":"\u6e38\u8f6e","img_url":"\/public\/static\/cms\/img\/gift_4.jpg","wealth":888}];

    global.Tip = function () { };

    _.extend(Tip.prototype, {
      open: function () {
        var me = this;
        $.actions({
          title: '打赏',
          actions: [{
            className: 'bg-white',
            text: HandlebarTemplates.get('tmpl-gifts')({
              gifts: gifts
            })
          }]
        });

        $('.actionsheet-tip').on('click', '.btn-gift', function () {
          var gift = _.find(gifts, { id: parseInt($(this).data('gift-id')) });
          // 由于当actionshhet关闭时，jquery-weui会将modal的遮罩css也一起删除，因此需要做这个hack
          // https://github.com/lihongxun945/jquery-weui/blob/master/src/js/action.js#L50
          setTimeout(function () {
            me.create(gift);
          }, 50);
        });
      },
      create: function (gift) {
        var me = this;
        $.actions({
          title: '确定打赏?',
          actions: [{
            text: '确定',
            className: 'color-primary',
            onClick: function () {
              $.ajax({
                url: '/index.php/cms/document/tips',
                type: 'POST',
                dataType: 'JSON',
                contentType: 'application/json',
                data: JSON.stringify({
                  gift_id: gift.id,
                  novel_id: {$document.id}
                })
              })
              .then(function (payload) {
                $.toast('打赏成功');
                $(document).trigger('inovel.tip.created', payload.data);
              })
              .fail(function (error) {
                // 余额不足
                if (error.responseJSON.code === 9999) {
                  me.recharge(gift);
                } else {
                  $.toast(error.responseJSON.message, 'forbidden');
                }
              });   
            }
          }]
        });
      },
      recharge: function (gift) {
        $.modal({
          title: "余额不足",
          text: " 是否前往充值?",
          buttons: [{ 
            text: "立即充值",
            onClick: function () {
              window.onpageshow = function (e) {
                if (e.persisted) {
                  location.reload();
                }
              };

              location.assign('/index.php/cms/pay/index/');
            }
          }]
        });
      }
    });
  })(window);
    var articleId = {$document.id};
    var __title = "{:addslashes($document.title)}";
    var _lk = "";
    var __BASE = "http://m.huotun.com/";

    var prev_article_id = 0;
    var novel_id = 51;
    var from = '';
    //点击下一张是否提示
    var showFollowPopupOnNext = {$isgz.showFollowPopupOnNext};

    //底部按钮提示
    var forceFollow = {$isgz.forceFollow};

    function addBookmark() {
        $.ajax({
            url: '/index.php/cms/document/addbookmark/id/' + articleId,
            type: 'GET',
            contentType: 'application/json'
        })
            .then(function () {
                $.toast('书签添加成功', 1000);
            });
    }

    function applyFontSize(size) {
        switch (size) {
            case 'large':
                $(".weui_article").css('font-size', "24px");
                break;
            case 'medium':
                $(".weui_article").css('font-size', "20px");
                break;
            case 'small':
                $(".weui_article").css('font-size', "16px");
                break;
        }
    }

    function applyBackground(bg) {
        $('body').removeClass('color-dark').removeClass('color-comfortable');
        if (bg !== 'none') {
            $('body').addClass('color-' + bg);
        }
    }

    $(document).ready(function () {

        var tip = new Tip();

        // tip
        var hash = qs2hash(location.search);
        if (hash['tip']) {
            tip.open();
        }
        $(document).on('click', '.bghover', function () {
            var bg = $(this).data('color');
            applyBackground(bg);
            Cookies.set('bg', bg, { expires: 3 * 365 * 24 * 60 * 60 });
            return false;
        });

        $(document).on('click', '.fonthover', function () {
            var size = $(this).data('size');
            applyFontSize(size);
            Cookies.set('size', size, { expires: 3 * 365 * 24 * 60 * 60 });
            return false;
        });

        $('.btn-next-article').click(function () {
            if (showFollowPopupOnNext) {
                $.modal({
                    title: '长按识别作者授权公众号继续阅读',
                    text: '<div style="font-size:16px;color:#333">' +
                    '<div style="margin:5px auto;color:red">由于版权问题，<br/>请扫下方二维码继续阅读</div>' +
                    '<img src="{$isgz.ewm}" style="width:70%"/>' +
                    '<div style="font-weight:bold;font-size:18px">长按上图识别二维码</div>' +
                    '</div>'
                });
                $('.weui_dialog').css('top', '20%');
            } else {
                if($(this).data('url').indexOf('/index.php/cms/index/index.html') != -1){
                    $.toast('当前已是最后一章');
                    $('.weui_toast').css({'width': 'auto', 'padding': '0px 5px'})
                    return false;
                }
                location.href = $(this).data('url');
            }
        });

        if (!forceFollow) {
           
             initSubscribePanel();       
        }

        function initSubscribePanel() {
            $('#subscribe-panel').show();

                $('.btn-subscribe').click(function () {
                    $.modal({
                        title: '作者提示: 如何追书?',
                        text: '<div style="font-size:16px;color:#333">' +
                        '<div style="margin:5px auto;color:red">关注作者授权公众号，方便下次阅读</div>' +
                        '<img src="{$isgz.ewm}" style="width:70%"/>' +
                        '<div style="font-weight:bold;font-size:18px">长按识别上方二维码关注</div>' +
                        '</div>',
                        buttons: [{'text': '关闭'}]
                    });

                    $('.weui_dialog').css('top', '20%');

                    return false;
                });
        }


        // read user settings from cookie
         if (Cookies.get('size')) {
            applyFontSize(Cookies.get('size'));
        }
        if (Cookies.get('bg')) {
            applyBackground(Cookies.get('bg'));
        }

    });
</script>
<script>

    $(function () {
       wx.config({

            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。

            appId: '{$signature.appId}', // 必填，公众号的唯一标识

            timestamp: '{$signature.timestamp}', // 必填，生成签名的时间戳

            nonceStr: '{$signature.nonceStr}', // 必填，生成签名的随机串

            signature: '{$signature.signature}',// 必填，签名，见附录1

            jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2

        });

        wx.ready(function(){
            var url = location.href;
            wx.onMenuShareTimeline({

                title: '{$share.title}', // 分享标题

                link: url, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致

                desc:'{$share.desc}',

                imgUrl: '{$share.img}', // 分享图标

            });

            wx.onMenuShareAppMessage({

                title: '{$share.title}', // 分享标题

                link: url, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致

                desc:'{$share.desc}',

                imgUrl: '{$share.img}', // 分享图标

            });

        })
    })


</script>
