{extend name="public/base"}
{block name="style"}
    <style>
        .supportlinks li {
            width: 20%;
            text-align: center;
            float: left;
        }

        .supportlinks li a {
            display: block;
            width: 90%;
            max-width: 100px;
            min-width: 50px;
            margin: 0 auto;
        }

        .supportlinks .gif img {
            width: 100%;
        }
        .ls1{letter-spacing: 1px}
        .gif{font-size:14px;}
        .supportlinks li a{margin-bottom:8px}
    </style>
{/block}
{block name="main"}

<div class="lh25 f14 m10 p10 no_money" id="tips" style="display:none;background: #ecc4c4;border: 1px solid #e1b4b4;color: #3e2400;">您的余额不足！ </div>

<div class="mt5 pt10 br5 bgcfff">
    <h1 class="ptb10 plf15 f16 clearfix" style="background:#F7FBFE;color: #a44b3b;"><span style="display:inline-block;margin-top:2px"><span style="color:#9B9B9D;" class="ls1">当前余额:</span><span style="color:#6F8FF7"><span id="cur_coin">{$user.score + $user.coin}</span>书币</span></span><a href="{:url('cms/pay/index')}" class="br3 f12 fr" style="background:#74A4FE;padding:5px 15px;color:#f2f2f2">立即充值</a></h1>
        <ul class="clearfix supportlinks mlf10 ptb15">
            
            <li class="gif"><a href="{:url('cms/Document/reward', 'item=0&bid=' . $bid)}"><img src="__MODULE_IMG__/pic2.png" alt=""></a>玫瑰</li>
            
            <li class="gif"><a href="{:url('cms/Document/reward', 'item=1&bid=' . $bid)}"><img src="__MODULE_IMG__/pic3.png" alt=""></a>礼包</li>
            
            <li class="gif"><a href="{:url('cms/Document/reward', 'item=2&bid=' . $bid)}"><img src="__MODULE_IMG__/pic4.png" alt=""></a>金牌</li>
            
            <li class="gif"><a href="{:url('cms/Document/reward', 'item=3&bid=' . $bid)}"><img src="__MODULE_IMG__/pic5.png" alt=""></a>钻石</li>
            
            <li class="gif"><a href="{:url('cms/Document/reward', 'item=4&bid=' . $bid)}"><img src="__MODULE_IMG__/pic6.png" alt=""></a>皇冠</li>
            
        </ul>
        <div style="height:10px;background:#F7FBFE"></div>
    <div class="mlr10 pb15 ls1">
        <form name="rewardform" id="rewardform" action="{:url('cms/Document/tips', 'bid=$bid')}" method="post">
        <div class="mtb10 f15 c333 ls1" style="font-weight: 400">点击上面图标选择打赏类型</div>
        <div class="h30 lh30 pr pl30" style=""><span class="dib w30 h30 oh pa left0 top0"><img src="__MODULE_IMG__/pic3.png" class="wp100 gif_img" alt=""></span>（一个<span class="gif_name">{$gif.name}</span>需要消耗<span class="money">{$gif.money}</span>书币）</div>
        <div class="mtb10 f14 c333">打赏数量：<input type="number" name="num" id="number" class="b bcddd p10 br0" value="1"></div>
        <!-- <div class="mtb10 f14 c333">打赏赠言：</div>
        <div><textarea name="" id="" cols="30" rows="5" class="b bcddd p10 wp100 bsi f14" placeholder="支持作者文思泉涌，妙笔生花。"></textarea></div> -->
        <style>
        </style>
        <div class="mt20">
            <a href="javascript:" class="db lh40 h40 cfff f16 tc br3 gradient" id="submit" style="background:#FF7676">立即打赏</a>
        </div>
            <input type="hidden" name="formhash" value="fe2bdb55">
            <input type="hidden" name="item" id="current3" value="{$item}">
            <input type="hidden" name="bid" value="{$bid}">
        </form>
    </div>
</div>
{/block}
{block name="page-script"}
<script>
  $(function(){
    // $('.gif').on('click', function(){
    //     var gif_money = new Array('100', '200', '500', '1000', '5000');
    //     var gif_name = $(this).text();
        var gif_img = $('.gif').eq({$item}).find('img').attr('src');
        $('.gif_img').attr('src', gif_img);
    //     $('.gif_name').text(gif_name);
    //     $('.money').text(gif_money[$(this).index()]);
    //     $('#current3').val($(this).index());
    // });
    if({$user.score + $user.coin} < {$gif.money}){
        $('.no_money').show();
    }
    $('#number').on('keyup', function(e){
        $('.no_money').hide();
    })
    $('#submit').on('click', function(){
        $.post("/index.php/cms/Document/tips",$('#rewardform').serialize(),function(result){
            console.log(result)
            if(result.status === 0){
                $('#tips').text(result.message).css('background', '#ecc4c4').show();
            }else{
                $('#cur_coin').text(parseInt($('#cur_coin').text()) - result.total);
                $('#tips').text(result.message).css({'background':'rgb(189, 224, 166)'}).show();
            }
            setTimeout(function(){$('#tips').fadeOut()}, 1500);
        });
    })
  });
</script>
{/block}