{extend name="public:base" /}
{block name="style"}
    <style>
        body{font-style: normal;font-weight: 400}
      .container{height:auto;-webkit-overflow-scrolling:touch;padding-bottom:80px;padding:0px;}
      .hd{padding:1.5em 0}
      .page_title{text-align:center;font-size:24px;color:#3cc51f;font-weight:400;margin:0 15%}
      .page_desc{text-align:center;color:#888;font-size:14px}
      .cell .page_title{color:#225fba}
      /*.cell .bd{margin-left: 10px;}*/
      .dialog .bd,.toast .bd{padding:120px 15px 0}
      .msg{background-color:#fff}
      .bookneed{padding: 9px 14px;background-color: #f7f7f9;border: 1px solid #e1e1e8;border-radius: 4px;font-size:16px}
      .product-cell{margin:0px 1%;}
      .product-item.active div{color:#ff8c00;}
      .product-item.active .offer span{color:#fff;}
      .product-item{position: relative;padding:10px 0px;overflow: hidden;}
      .product-item .product-welth{margin-bottom: 8px;color:#FF5548;font-weight: 500}
      .offer{position:absolute;top:0px;width:66%;height:17px;font-size:0.87em;color:#fff;line-height: 17px;width:40px;height:40px;}
      /*.left_title{left:-30px;-webkit-transform:rotate(-45deg);background:#D5A75A;}
      .right_title{right:-30px;-webkit-transform:rotate(45deg);background:#FF5548;}*/
      .offer span{display: inline-block;text-align: center;width:100%;}
      .left_title{left:0px;background:url(__MODULE_IMG__/detail_tag_left.png);background-size:100% 100%;}
      .right_title{right:0px;background:url(__MODULE_IMG__/detail_tag_right.png);background-size:100% 100%;}
      .left_title span{-webkit-transform:rotate(-45deg);position:relative;left:-7px;top:4px;}
      .right_title span{-webkit-transform:rotate(45deg);position:relative;right:-7px;top:4px;}
      .titleb{color:#000;}
      .titlec{color:#9B9B9B;}
      @media screen and (max-width: 320px){
        .offer{font-size:0.75em;top:5px;}
        .left_title{left:-15px;}
        .right_title{right:-15px;}
      }
    </style>
{/block}
{block name="main"}
    <div class="container">

    <div class="cell">

    <div class="bd mt3">
    <em>
  {if(!empty($cuxiaoshij))}
    <div class='bgcfff' style='color:#f00;text-align: center;'>{$cuxiaoshij}</div>
  {else /}
    <div class='bgcfff' style='padding:10px;font-size:16px;'>
    {if(!empty($chaptername))}
      <span style='color:#ff0066; font-weight: bold; font-size: 20px'>{$chaptername}</span>
      <span style='color:#333333; font-weight: bold; font-size: 14px'>《{$book['title']}》</span>
      </div>
      <div class='bookneed' style=''>
      {if empty($book['packsell'])}
        章节字数：<span style='color:darkorange'>{$chapterzishu}</span>
        <br />
        本章价格：<span style='color:darkorange'>{$shubi}</span> 书币 
        <br />
        您的余额：<span style='color:darkorange' id="coin">{:moneyToCoin($usercoin)}</span> 书币
      {else /}
        全本字数：<span style='color:darkorange'>{$book.zishu}</span>
        <br />
        全本价格：<span style='color:darkorange'>{$bookprice}</span> 元　<span class="original">原价 <span class="original_price"><del>{$original} 元</del></span></span>
        <br />
        您的余额：<span style='color:darkorange' id="coin">{$usercoin}</span> 元
      {/if}
    {else /}
        您的余额：<span style='color:darkorange' id="coin">{:moneyToCoin($usercoin)}</span> 书币
    {/if}
    </div>
  {/if}
    </em>
    <div class="novel-list bgcfff" style="padding:15px 0px">
        {if !empty($book['packsell'])}
        <div class="packsell_desc">此书为优质出版图书，按照全本定价折扣销售，购买之后可以阅读该书全部章节</div>
        {/if}
        <div style="margin:10px 10px;margin-top:0px;font-size:16px;">

            <em>充值金额 ( <span style="color:orangered">1元 = 100书币</span> )</em>

        </div>



<div id="products-grid" class="products-grid clearfix"> 
   
<em>
{volist name="pro" id="vo" key="k" }
    <div class="product-cell" style="width: 48%">
        <div class="product-item {if empty($noselect)}
                                     {if $k==1} active{/if}
                                  {else /}
                                    {if $vo.status==1} active{/if}
                                  {/if}" data-pid="{$vo.id}" data-welth="{$vo.score}">
        {if !empty(trim($vo.left_title))}
        <div class="offer left_title">
            <span>{$vo.left_title}</span>
        </div>
        {/if}
        {if !empty(trim($vo.offer_title))}
        <div class="offer right_title">
            <span>{$vo.offer_title}</span>
        </div>
        {/if}
            <div class="product-welth">
                <span class="value">
                {$vo.titilea}</span>
            </div>
            <div class="product-info">
                <div class="titleb">{$vo.titileb}</div>
                <div class="titlec">{$vo.titilec}</div>
            </div>
        </div> 
    </div> 
{/volist}
</div>
</em>
</div>
<p class="weui_btn_area" style="margin-top:20px">
<a id="btn-pay-confirm" href="javascript:;" class="weui_btn weui_btn_primary" style="background: #FF5448">{if empty($book['packsell'])}确认充值{else /}充值购买{/if}</a>
</p>
</div>
</div>
<div style="margin: 15px; font-size: 15px; line-height: 22px;border-top: 1px #e1e1e8 solid;color: #999999">
    <em>
    <div style="padding-top: 10px;padding-bottom: 5px;">温馨提示：</div>
    <div class="tl">
        <ul>
            <li style="padding-bottom: 5px;">1、如遇到充值未到账的情况，请先确认当前登录的账号与充值的账号是否一致；</li>
            <li style="padding-bottom: 5px;">2、确定账号正确，充值后超过24小时仍未到账，请联系客服解决。</li>
            <li style="padding-bottom: 5px;">3、官方客服微信号：huotun666</li>
            <li style="padding-bottom: 5px;">4、工作时间：周一到周五 9:00-21:00</li>
        </ul>
    </div>
    </em>
</div>

</div>



<script>

    $(function () {
        var cid = '{$chapterId}';
        var packsell = '{$book["packsell"]}';
        function jsApiCall(json){
            WeixinJSBridge.invoke(
                'getBrandWCPayRequest',
                json,
                function(res){
                    //WeixinJSBridge.log(res.err_msg);
                    //alert(res.err_code+res.err_desc+res.err_msg);
                    if(res.err_msg == "get_brand_wcpay_request:ok" ) {
                        //alert('支付成功。');
                        var url = '/index.php/cms/pay/index.html?bid={$bookid}&cid={$chapterId}';
                        if(cid != '' && cid > 0){
                            url = '/index.php/cms/document/detail/id/' + cid;
                        }
                        if(packsell == 1 || packsell == '1'){
                            $.post('/index.php/cms/pay/paybybook', {bid:'{$book.id}', zid:cid,packsell:true}, function(res){
                                if(res.status != 4){
                                    location.reload();
                                }else{
                                    $.toast('购买成功');
                                    location.href = '/index.php/cms/document/detail/id/' + cid;
                                }
                                return false;
                            });
                        }else{
                            location.href = url;
                        }
                    }else{
                        //alert(res.errMsg);
                        if(res.err_msg == "get_brand_wcpay_request:cancel"){
                            //alert('支付取消!');
                            $.modal({
                                    title: '取消支付',
                                    text: '支付已取消',
                                    buttons: [{
                                        text: '确定',
                                        className: 'default',
                                        onClick: function () {
                                            submitting = false;
                                        }
                                    }
                                ]
                            });
                            //window.history.go(-1);
                        }else{
                            //alert("支付失败，请返回重试。");
                            $.modal({
                                title: '支付失败',
                                text: '支付失败，请重新选择进行支付',
                                buttons: [{
                                        text: '确定',
                                        className: 'default',
                                        onClick: function () {
                                            submitting = false;
                                        }
                                    }
                                ]
                            });
                            //window.history.go(-1);
                        }
                    }
                }
            );
        }
        function callpay(json) {
            if (typeof WeixinJSBridge == "undefined"){
                if( document.addEventListener ){
                    document.addEventListener('WeixinJSBridgeReady', jsApiCall(json), false);
                }else if (document.attachEvent){
                    document.attachEvent('WeixinJSBridgeReady', jsApiCall(json)); 
                    document.attachEvent('onWeixinJSBridgeReady', jsApiCall(json));
                }
            }else{
                jsApiCall(json);
            }
        }
        var articleId = null;
        var returnUrl = '';
        var tradeType = '';
        var submitting = false;
        $('#products-grid .product-item').click(function () {
            $('#products-grid .product-item').removeClass('active');
            $(this).addClass('active');
        });
        $('#btn-pay-confirm').click(function () {
            if (submitting) {
                return false;
            }
            submitting = true;
            var productId = $('#products-grid .product-item.active').data('pid');
            
            var url = "/index.php/cms/pay/pay.html?id=" + productId + "&bid=" + "{$bookid}";
            if (articleId) {
                url += '&aid=' + articleId;
            }
            if (tradeType) {
                url += '&trade_type=' + tradeType;
            }
            if (returnUrl) {
                url += '&return=' + encodeURIComponent(returnUrl);
            }
            if ({$zffs}==1) {
                $.post(url,{},function(resu){
                    // $.toast(resu.msg);
                    // console.log(resu);
                    // return false;
                    var jsonObj=JSON.parse(resu);
                    // console.log(typeof(jsonObj));
                    // console.log(jsonObj);
                    callpay(jsonObj);
                })
            }


            // var productId = $('#products-grid .product-item.active').data('pid');
            // var url = '/index.php/cms/pay/duobaopay/payprodcutid/'+productId+'/bid/{$book.id}';
            // if (articleId) {
            //     url += '&aid=' + articleId;
            // }
            // if (tradeType) {
            //     url += '&trade_type=' + tradeType;
            // }
            // if (returnUrl) {
            //     url += '&return=' + encodeURIComponent(returnUrl);
            // }
            // if ({$zffs}==1) {
                // var llpay = '/index.php/cms/pay/duobaopay/';
                // $.ajax({
                //     url: '/index.php/cms/pay/savellpayid/',
                //     type: 'POST',
                //     dataType: 'JSON',
                //     contentType: 'application/json',
                //     data: JSON.stringify({
                //         id: productId,
                //     })
                // })
                // .then(function (payload) {
                //     location.href = llpay;
                // })
                // .fail(function (error) {
                //     window.location.reload();
                // });
            // }
            // if ({$zffs}==1) {
                // location.href = url;
            // }
            return false;
        })
    })


</script>
{/block}