{extend name="public:base" /}

		<title>{block name="title"}更多{/block}</title>

		{block name="link"}
		<link rel="stylesheet" type="text/css" href="__MODULE_CSS__/many.css" />
		<link rel="stylesheet" type="text/css" href="__MODULE_CSS__/index.css" />
		{/block}
		{block name="style"}
		<style type="text/css">
			.search_kuang{
				background: url(img/img-png/suosuokuang.png)no-repeat center left;
				background-size: 5.75rem 0.7rem;
			}
			.list_r_two>span{
				background: url(__MODULE_IMG__/img-png/fenlei.png)no-repeat center left;
				background-size: 0.52rem 0.25rem;
			}
			.list_zan{
				background: url(__MODULE_IMG__/img-png/zan.png)no-repeat center left;
				background-size: 0.20rem 0.20rem;
			}
			.list_msg{
				background: url(__MODULE_IMG__/img-png/pinglun.png)no-repeat center left;
				background-size: 0.20rem 0.20rem;
			}
			.search_content{
				margin-top: 0.85rem;
			}
		</style>
		{/block}
	{block name="nav"}{/block}
	{block name="main"}
	<body>
		<div class="search_content">
			<div class="search_list">
				<a href="">
					<div class="fl search_img">
						<img src="__MODULE_IMG__/img-big/33.jpg"/>
					</div>
					<div class="fl search_list_r">
						<p class="list_r_one">黄金神威</p>
						<p class="list_r_two">
							<span>少年</span>
							<span>热血</span>
							<span>三国</span>
						</p>
						<p class="list_r_thr">
							<img src="__MODULE_IMG__/img-png/touxiangtubiao.png"/>
							野田サトル
						</p>
						<p class="list_r_four">
							<span class="list_zan">1306</span>
							<span class="list_msg">4531</span>
						</p>
					</div>
				</a>
			</div>
			<div class="search_list">
				<a href="">
					<div class="fl search_img">
						<img src="__MODULE_IMG__/img-big/33.jpg"/>
					</div>
					<div class="fl search_list_r">
						<p class="list_r_one">黄金神威</p>
						<p class="list_r_two">
							<span>少年</span>
							<span>热血</span>
							<span>三国</span>
						</p>
						<p class="list_r_thr">
							<img src="__MODULE_IMG__/img-png/touxiangtubiao.png"/>
							野田サトル
						</p>
						<p class="list_r_four">
							<span class="list_zan">1306</span>
							<span class="list_msg">4531</span>
						</p>
					</div>
				</a>
			</div>
			<div class="search_list">
				<a href="">
					<div class="fl search_img">
						<img src="__MODULE_IMG__/img-big/33.jpg"/>
					</div>
					<div class="fl search_list_r">
						<p class="list_r_one">黄金神威</p>
						<p class="list_r_two">
							<span>少年</span>
							<span>热血</span>
							<span>三国</span>
						</p>
						<p class="list_r_thr">
							<img src="__MODULE_IMG__/img-png/touxiangtubiao.png"/>
							野田サトル
						</p>
						<p class="list_r_four">
							<span class="list_zan">1306</span>
							<span class="list_msg">4531</span>
						</p>
					</div>
				</a>
			</div>
			<div class="search_list">
				<a href="">
					<div class="fl search_img">
						<img src="__MODULE_IMG__/img-big/33.jpg"/>
					</div>
					<div class="fl search_list_r">
						<p class="list_r_one">黄金神威</p>
						<p class="list_r_two">
							<span>少年</span>
							<span>热血</span>
							<span>三国</span>
						</p>
						<p class="list_r_thr">
							<img src="__MODULE_IMG__/img-png/touxiangtubiao.png"/>
							野田サトル
						</p>
						<p class="list_r_four">
							<span class="list_zan">1306</span>
							<span class="list_msg">4531</span>
						</p>
					</div>
				</a>
			</div>
			<div class="search_list">
				<a href="">
					<div class="fl search_img">
						<img src="__MODULE_IMG__/img-big/33.jpg"/>
					</div>
					<div class="fl search_list_r">
						<p class="list_r_one">黄金神威</p>
						<p class="list_r_two">
							<span>少年</span>
							<span>热血</span>
							<span>三国</span>
						</p>
						<p class="list_r_thr">
							<img src="__MODULE_IMG__/img-png/touxiangtubiao.png"/>
							野田サトル
						</p>
						<p class="list_r_four">
							<span class="list_zan">1306</span>
							<span class="list_msg">4531</span>
						</p>
					</div>
				</a>
			</div>
			<div class="search_list">
				<a href="">
					<div class="fl search_img">
						<img src="__MODULE_IMG__/img-big/33.jpg"/>
					</div>
					<div class="fl search_list_r">
						<p class="list_r_one">黄金神威</p>
						<p class="list_r_two">
							<span>少年</span>
							<span>热血</span>
							<span>三国</span>
						</p>
						<p class="list_r_thr">
							<img src="__MODULE_IMG__/img-png/touxiangtubiao.png"/>
							野田サトル
						</p>
						<p class="list_r_four">
							<span class="list_zan">1306</span>
							<span class="list_msg">4531</span>
						</p>
					</div>
				</a>
			</div>
			<div class="search_list">
				<a href="">
					<div class="fl search_img">
						<img src="__MODULE_IMG__/img-big/33.jpg"/>
					</div>
					<div class="fl search_list_r">
						<p class="list_r_one">黄金神威</p>
						<p class="list_r_two">
							<span>少年</span>
							<span>热血</span>
							<span>三国</span>
						</p>
						<p class="list_r_thr">
							<img src="__MODULE_IMG__/img-png/touxiangtubiao.png"/>
							野田サトル
						</p>
						<p class="list_r_four">
							<span class="list_zan">1306</span>
							<span class="list_msg">4531</span>
						</p>
					</div>
				</a>
			</div>
			<div class="search_list">
				<a href="">
					<div class="fl search_img">
						<img src="__MODULE_IMG__/img-big/33.jpg"/>
					</div>
					<div class="fl search_list_r">
						<p class="list_r_one">黄金神威</p>
						<p class="list_r_two">
							<span>少年</span>
							<span>热血</span>
							<span>三国</span>
						</p>
						<p class="list_r_thr">
							<img src="__MODULE_IMG__/img-png/touxiangtubiao.png"/>
							野田サトル
						</p>
						<p class="list_r_four">
							<span class="list_zan">1306</span>
							<span class="list_msg">4531</span>
						</p>
					</div>
				</a>
			</div>
		</div>
	</body>
	{/block}
	{block name="page-script"}

	<script src="__MODULE_JS__/mui.js"></script>
	<script src="__MODULE_JS__/jquery-1.8.3.min.js"></script>
	{/block}

