html{
	font-size: .24rem;
}
body {
    min-width: 320px;
    max-width: 720px;
    margin: 0 auto;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    position: relative;
    font-family: "Microsoft Yahei",Arial,Helvetica,sans-serif;
    font-size: .24rem;
    color: #333333;
}
p{
	margin-bottom: 0;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    margin-top: 0px; 
    margin-bottom: 0px; 
}
.font-hid {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.dou_hang{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
#header{
	width:100%;
	height:0.8rem;
	background-color: #fff;
	line-height: 0.8rem;
	position: fixed;
	left: 0;
	top: 0;
}
.header_left{
	width: 1.85rem;
	height: 0.86rem;
	margin-left: 0.22rem;
}
.header_left>a{
	display: block;
	width: 100%;
	height: 100%;
	line-height:0.8rem ;
}
.header_right{
	width: 3.33rem;
	height: 0.32rem;
	line-height: 0.32rem;
}
.header_right>ul{
	display: inline-block;
}
.header_right>ul>li{
	float: left;
	box-sizing: border-box;
	text-align: center;
	line-height: 0.8rem;
}

.header_right>ul>li>a>img{
	width: 0.35rem;
	height: 0.33rem;
}
.list_one{
	width: 0.88rem;
	height: 0.35rem;
}
.fengge{
	color: #FF3600;
}
.list_two{
	width: 1.46rem;
	height: 0.35rem;
}
.list_two img{
	margin-bottom: 0.05rem;
}
.list_two span{
	display: inline-block;
	font-size: 0.3rem;
	color: #FF3600;
	margin-left: 0.12rem;
	margin-top: 0.02rem;
}
.list_thr{
	width:0.85rem;
	height: 0.35rem;
}
#section{
	margin-top: 0.8rem;
	margin-bottom: 0.9rem;
}
.works_cover{
	width: 100%;
	height: 4.35rem;
}
.works_cover img{
	width: 100%;
	height: 4.35rem;
}
.validity{
	width: 100%;
	background-color: #fff;
	padding: 0 0.25rem;
	box-sizing: border-box;
}
.validity_one_title{
	width: 100%;
	height: 0.57rem;
	line-height: 0.57rem;
}

.v-c-one{

}
.v-c-one>span{
	font-size: 0.3rem;
	color: #2D0504;
}
.v-c-one>img{
	width: 0.47rem;
	height: 0.24rem;
	margin-left: 0.08rem;
	margin-bottom: 0.08rem;
}
.v-c-two{
	width: 0.92rem;
	padding-left: 0.25rem;
	color: #999;
	font-size: 0.24rem;
}
.validity_one{
	border-bottom: 1px solid #EFEEF3;
}
.validity_one_type{
	width: 100%;
	text-align: left;
}
.validity_one_type>span{
	display: inline-block;
	width: 0.52rem;
	height: 0.25rem;
	font-size: 0.14rem;
	color: #666;
	text-align: center;
	line-height: 0.25rem;
	margin-right: 0.11rem;
}
.validity_autor{
	width: 100%;
	font-size: 0.22rem;
	color: #392324;
	padding-left: 0.32rem;
}
.validity_two{
	width: 100%;
	padding: 0.19rem 0 0.32rem 0;
	color:#666666 ;
}
.validity_two_content>span{
	color:#392324;
}
.anthology{
	background-color: #fff;
	width: 100%;
	margin-top: 0.1rem;
}
.title{
	width: 100%;
	height: 0.8rem;
	line-height: 0.8rem;
}
.title_left{
	width: 1.93rem;
	height: 100%;
	line-height: 0.9rem;
	margin-left: 0.26rem;
}
.title_left>span{
	color:#2D0504;
	font-size: 0.28rem;
	padding-left: 0.4rem;
}
.title_right{
	width: 4rem;
	height: 100%;
	margin-right: 0.20rem;
	text-align: right;
}
.title_right>a{
	font-size: 0.24rem;
	color: #3DC67A;
	padding-right: 0.27rem;
	
}
.gold{
	width: 100%;
	height: 1.1rem;
	background: #fff;
	margin-top: 0.1rem;
	display: flex;
	display: -webkit-flex;
	display: box;
}
.gold_list{
	width: 50%;
	height: 100%;
	text-align: center;
	
}
.gold_list>h3{
	color: #FF5F2F;
	font-size: 0.3rem;
	margin-top: 0.2rem;
}
.gold_list>p{
	color: #2D0504;
	font-size: 0.22rem;
	margin-top: 0.05rem;
}
.comment{
	width: 100%;
	padding: 0 0.23rem;
	background-color: #fff;
	margin-top: 0.1rem;
}
.comment_title{
	width: 100%;
	height: 0.95rem;
	box-sizing: border-box;
	border-bottom: 1px solid #EFEEF3;
	line-height: 0.95rem;
}
.comment_num>h3{
	height: 100%;
	line-height: 0.95rem;
	float: left;
	font-size: 0.3rem;
	color: #666;
}
.comment_num>p{
	float: left;
	margin-left: 0.18rem;
	font-size: 0.24rem;
	color: #999;
}
.comment_write{
	width: 1.34rem;
	height: 0.48rem;
	margin-top: 0.25rem;
	text-align: center;
	line-height: 0.48rem;
}
.comment_write img{
	width: 0.23rem;
	height: 0.23rem;
}
.comment_write span{
	color: #2D0504;
	font-size: 0.26rem;
}
.comment_man{
	width: 100%;
	border-bottom: 1px solid #EFEEF3;
	padding: 0.38rem 0 0.57rem 0;
}
.comment_man:after{
	display: block;
	content: "";
	clear: both;
}
.comment_pic{
	width:0.68rem ;
}
.comment_pic>a>img{
	width: 0.68rem;
	height: 0.68rem;
	border-radius: 50%;
}
.comment_msg{
	width: 5.6rem;	
	margin-left: 0.2rem;
}
.comment_name{
	width: 100%;
}
.comment_name:after{
	display: block;
	content: "";
	clear: both;
}
.comment_name_left{
	font-size: 0.24rem;
	color: #2D0504 ;
	line-height: 0.21rem;
	margin-top: 0.1rem;
}
.comment_name_right>img{
	width: 0.36rem;
	height: 0.36rem;
}
.comment_name_right>span{
	margin-right: 0.18rem;
	font-size: 0.24rem;
	color: #999;
}
.comment_time{
	font-size: 0.22rem;
	color: #999;
}
.comment_time>span{
	margin-left:0.1rem ;
}
.comment_font{
	font-size: 0.24rem;
	color: #666;
	line-height: 0.36rem;
}
.comment_many{
	width: 100%;
	height: 1rem;
}
.comment_many>p{
	width: 100%;
	height: 0.5rem;
	text-align: center;
	line-height: 0.5rem;
	border-radius: 0.1rem;
	background: #eee;
}
.mask{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	display: none;
}
.mask_content{
	width: 100%;
	background-color: #fff;
	position: absolute;
	left: 0;
	bottom: 0;
}
.mask_one{
	padding: 0 0.50rem;
}
.mask_one:after{
	display: block;
	content: "";
	clear: both;
}
.mask_pic{
	width: 1.3rem;
	height: 2rem;
	position: relative;
	top: -0.70rem;
	left: 0;
	border: 1px solid #E2AD6E;
}
.mask_wenz{
	margin-left: 0.2rem;
}
.wenz_one{
	margin-top: 0.2rem;
	font-size: 0.26rem;
	color: #000;
}
.wenz_two,.wenz_thr{
	font-size: 0.22rem;
}
.wenz_two>span{
	color: #FF5F2F;
}
.mask_two{
	padding: 0 0.50rem;
	position: relative;
	top: -0.5rem;
}
.mask_two>p{
	font-size: 0.22rem;
	color: #000;
}
.mask_two>p>span{
	color: #999;
}
.mask_thr{
	padding: 0 0.5rem;
}
.mask_thr>ul{
	margin-left: 0.2rem;
	display: flex;
	display: -webkit-flex;
	display: box;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 auto;
}
.mask_thr>ul>li{
	width: 1.4rem;
	height: 0.8rem;
	border: 1px solid #DDDDDD;
	border-radius: 0.05rem;
	text-align: center;
	line-height: 0.8rem;
	
	margin-bottom: 0.4rem;
}

.mask_four{
	width: 6.2rem;
	height: 0.8rem;
	line-height: 0.8rem;
	text-align: center;
	border-radius: 0.1rem;
	background-color:#FF5F2F ;
	color: #fff;
	margin: 0.2rem auto;
}
.default_choose{
	border: 2px solid #FF5F2F!important;
	color: #FF5F2F;
}
.mask_top{
	width: 100%;
	height: 10rem;
}
/*输入框*/
.ipt{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10000;
	display: none;
}
.ipt_content{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3rem;
	background-color: #fff;
	padding: 0 0.34rem;
}
.ipt_one{
	margin-top: 0.2rem;
}
.ipt_two>textarea{
	margin-top: 0.2rem;
	border-radius: 0.1rem;
}
.ipt_thr{
	text-align: right;
	font-size: 0.22rem;	
}
.ipt_thr>p>span{
	color: #e4393c;
}
.ipt_cancel{
	color: #0088CC;
}
#footer{
	position: fixed;
	background-color: #fff;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0.9rem;
	line-height: 0.9rem;
	text-align: center;
	border-top: 1px solid #eee;
	display: flex;
	display: -webkit-flex;
	display: box;
	justify-content: space-around;
}
#footer>div{
	width: 33.333333%;
}
#footer>div>a{
	color: #FF5448;
	font-size: 0.3rem;
	display: block;
	width: 100%;
}
#footer>div>a>img{
	width: 0.37rem;
	height: 0.36rem;
	margin-right: 0.15rem;
}
.first_line:after{
	display: block;
	content: "|";
}
.try_read{
	background-color: #FF5448;

}
.try_read>a{
	color: #fff!important;
}
