html{
	font-size: .24rem;
}
body {
    min-width: 320px;
    max-width: 720px;
    margin: 0 auto;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    position: relative;
    font-family: "Microsoft Yahei",Arial,Helvetica,sans-serif;
    font-size: .24rem;
    color: #333333;
}
p{
	margin-bottom: 0;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
.font-hid {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.dou_hang{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
#header{
	width:100%;
	height:0.8rem;
	background-color: #fff;
	line-height: 0.8rem;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
}
.header_left{
	width: 1.85rem;
	height: 0.86rem;
	margin-left: 0.22rem;
}
.header_left>a{
	display: block;
	width: 100%;
	height: 100%;
	line-height:0.8rem ;
}
.header_right{
	width: 3.33rem;
	height: 0.32rem;
	line-height: 0.32rem;
}
.header_right>ul{
	display: inline-block;
}
.header_right>ul>li{
	float: left;
	box-sizing: border-box;
	text-align: center;
	line-height: 0.8rem;
}

.header_right>ul>li>a>img{
	width: 0.35rem;
	height: 0.32rem;
}
.list_one{
	width: 0.88rem;
	height: 0.35rem;
}
.fengge{
	color: #FF3600;
}
.list_two{
	width: 1.46rem;
	height: 0.35rem;
}
.list_two img{
	margin-bottom: 0.05rem;
}
.list_two span{
	display: inline-block;
	font-size: 0.3rem;
	color: #FF3600;
	margin-left: 0.12rem;
	margin-top: 0.02rem;
}
.list_thr{
	width:0.85rem;
	height: 0.35rem;
}
#nav{
	width: 100%;
	background-color: #fff;
	margin-top: 0.84rem;
}
.type{
	margin-left: 0.2rem;
	padding-top: 0.25rem;
}
.type:after{
	content: '';
	display: block;
	clear: both;
}
.list_title{
	color: #2D0504;
	font-size: 0.24rem;
	width: 0.65rem;
}
.list_content{
	width: 6rem;
	margin-left: 0.2rem;
}
.list_content>p{
	float: left;
	font-size: 0.24rem;
	padding:0.06rem 0.2rem;
	margin-top: -0.08rem;
	color: #2D0504;
	margin-bottom: 0.1rem;
	
}
.classify{
	margin-left: 0.2rem;
	padding-top: 0.20rem;
}
.classify:after{
	content: '';
	display: block;
	clear: both;
}
.works{
	margin-left: 0.2rem;
	padding-top: 0.20rem;
	padding-bottom: 0.2rem;
}
.works:after{
	content: '';
	display: block;
	clear: both;
}
.activeChoose{
	background-color:#FD835A ;
	border-radius: 0.05rem;
	color: #fff!important;
}
#section{
	width: 100%;
	margin-top: 0.13rem;
}

.new_list{
	padding: 0.33rem 0.37rem 0.36rem 0.34rem;
	height: 2.2rem;
	margin-bottom: 0.02rem;
	background-color: #fff;
}
.new_list:after{
	display: block;
	content: '';
	clear: both;
}
.new_list>a{
	width: 100%;
	height: 100%;
	display: block;
}
.new_list>a>img{
	width: 2.3rem;
	height: 1.5rem;
	border-radius: 0.1rem;
	box-shadow: 0px 0.03rem 0.02rem rgba(255,54,0,0.17);
}
.new_tro{
	margin-left: 0.23rem;
	width:3.9rem;
	height: 0.34rem;
	line-height: 0.34rem;
}
.new_title{
	color: #2D0504;
	font-size: 0.26rem;
	height: 0.32rem;
	margin: 0;
	display: inline-block;
}
.new_title>img{
	width: 0.47rem;
	height: 0.24rem;
	margin-left: 0.1rem;
	margin-bottom: 0.06rem;
}
.new_msg{
	font-size: 0.22rem;
	color: #999;
	line-height: 0.3rem;
	width: 100%;
	height: 0.57rem;
}
.new_change{
	margin-top: 0.22rem;
}
.new_autor{
	width: 2rem;
	height: 0.3rem;
	line-height: 0.3rem;
	color: #392324;
	font-size: 0.22rem;
	padding-left: 0.3rem;
}
.new_reply>p{
	width: 0.95rem;
	float: left;
	padding-left:0.24rem;
}
.r_msg{
	font-size: 0.24rem;
	color: #999;
}
.zan{
	font-size: 0.24rem;
}
