*{-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box; }
body,h1,h2,h3,h4,h5,h6,div,.h1,.h2,.h3,.h4,.h5,.h6,.select2-container--default .select2-search--inline .select2-search__field{
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;margin:0px;padding: 0px
}body,html{-webkit-tap-highlight-color:transparent}
a:hover{text-decoration: none;color:inherit;}
.container{height:100%;}
.hd{padding:1.5em 0}
.page_title{text-align:center;font-size:24px;color:#3cc51f;font-weight:400;margin:0 15%}
.page_desc{text-align:center;color:#888;font-size:14px}
.bd.spacing{padding:0 15px}
.home{padding-bottom:30px}
.button .page_title{color:#225fba}
.button .bd{padding:0 15px}
.button .button_sp_area{padding:10px 0;width:60%;margin:0 auto;text-align:justify;text-justify:distribute-all-lines;font-size:0}
.button .button_sp_area:after{display:inline-block;width:100%;height:0;font-size:0;margin:0;padding:0;overflow:hidden;content:"."}
.cell .page_title{color:#225fba}
.cell .bd{padding-bottom:30px}
.dialog .bd,.toast .bd{padding:120px 15px 0}
.msg{background-color:#fff}
.panel .bd{padding-bottom:20px}
.weui_cell:before, .weui_cells:before{border:none;}
.flex{display: flex}
.flex1{flex:1}
.flex2{flex:2;}
.mt3{margin-top:3px;}
.fcd6a465{color:#d6a465;}
.fcd6a465:hover{color:#d6a465;}
.fcf00{color:#f00;}
.vertical-line{width:1px;background:#ccc;height:15px;margin:0px 12px;}
.list img{border:1px solid #d6a465;}
.inblock{display:inline-block;vertical-align: middle;}
.box_d6a465{border:1px solid #d6a465;}
.box_ccc{border:1px solid #ccc;}
.top-head{background:#fff;padding-top:10px;position:fixed;top:0px;z-index: 99;width:100%;}
.head{display:flex;width:100%;margin-bottom:10px;padding:0px 10px;height: 25px;background:#fff;}
.head div{display: inline-block;}
.tool{text-align: right;display: flex;line-height: 28px;flex:4.5;}
.tool img{margin-top:-2px;}
.logo{flex:2;}
.booksheet{font-size: 15px;}
.booksheet img{width:24px;}
.user_icon{margin-left:5px;}
.user_icon img{border-radius: 50%;width:28px;height:28px;}
.search img{width:28px;}
.header .top{background:#FEFDF8;}
.header .top li{border:none;}
.header .top li a{color:#333;padding-bottom:5px;position:relative;}
.header .top li a.active{color:#d6a465;}
.line{display: none}
.header .top li a.active .line{width:100%;height:2px;background:#D6A465;position:absolute;top:100%;left:0px;border-radius:2px;display:inline-block;}
.filter{padding:12px 10px;color:#333;font-size:14px;}
.filter_title{flex:1.6;line-height: 28px;text-align: center}
.filter_tag{padding:2px 4px;}
.category{padding:4px 0px;}
.tags{flex:8.5;}
.tags span{display:inline-block;margin-right:10px;}
.tags span.active{padding:2px 4px;background:#ff7159;color:#fff;border-radius:5px;}
.novel-list{margin-top:10px;}
.novel-summary a{/*overflow:hidden;text-overflow:ellipsis;-webkit-box-orient: vertical;-webkit-line-clamp:2;display: -webkit-box;*/
display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;}
.count{font-size:12px;}
.author_icon{margin-right:5px;width:20px;}
.cur_cate{position: absolute;right:0px;margin-top:-1px;}
.cur_cate .inblock{padding:0px 5px;margin-right:5px;margin-top:3px;border-radius: 3px;padding-top:1px;}
.novel-list-title{display: flex; line-height: 25px;padding: 10px 0;padding-bottom:0px;}
.novel-list-title-icon{flex: 0.5;margin-left: 10px;}
.novel-list-title-icon img{margin-top: 4px ;width: 4px;height: 18px}
.novel-list-cate{flex: 9; font-size: 18px}
.thumb-novel-list .flex-item,.thumb-novel-list .novel-list .novel-item{width:25%;padding: 8px 10px;}
.thumb-novel-list .flex-item{padding-right:0px;padding-top:0px;}
.thumb-novel-list{padding-top:0px;}
.novel-title{color:#000;font-style: normal;font-weight: 400}
.rank, .tab{font-size:16px;text-align: center}
.filter .rank a.active, .tab a.active{padding: 2px 6px;background: #ff7159;color: #fff;border-radius: 5px;}
.rank-list .flex1{margin-top:5px;}
.rank-list .novel-image{flex:2;}
.novel-rank-icon{flex:0.7;margin-right:10px;position: relative;}
.novel-rank-icon img,.novel-rank-icon span{position:absolute;top:38%;}
.novel-rank-icon span{width:28px;height: 28px;border-radius: 50%;color:#fff;background:#E3D1BB;text-align: center;line-height: 28px}
.supportlinks li {width: 20%;text-align: center;float: left;}
.supportlinks li a {display: block;width: 90%;max-width: 100px;min-width: 50px;margin: 0 auto;}
.supportlinks li a img {width: 100%;}
.bbdar {border-bottom: 1px dashed #CCC;}
.commTitle {color: #3361a7;}
.commTitle span {width: 18px;height: 18px;line-height: 18px;color: #fff;display: inline-block;border-radius: 1px;font-size: 10px;text-align: center;}
.commTitle span.span1 {background: #5acde6;}
.commTitle span.span2 {background: #37a5f0}
.commTitle span.span3 {background: #dc147d}
.commTitle span.span4 {background: #cd8c14}
.shade,#comment_shade{position:fixed;left:0px;right:0px;bottom:0px;top:0px;background: rgba(0,0,0,0.2);}
.myAlert{position: absolute;left:50%;top:22%;width: 90%;margin-left:-45%;/*margin-top:-45%;*/transform: -webkit-translate(-50%,-50%);transform: translate(-50%,-50%);border-radius: 10px;background: #fff;color:#686868;font-size:14px;padding-bottom:50px;}
.myAlert .title{height:35px;line-height:35px;padding:0 10px;border-bottom: 1px solid #df3048;}
.myAlert .txt{padding:7px;margin:0px;}
.myAlert .title span{float:right;width:50%;height:100%;}
.myAlert .title span{text-align: right;}
.myAlert .title a{color:#df3048;text-decoration: none;}
.myAlert ul{margin:0px;padding:0px;overflow: hidden;width: 100%;padding-left:1.5%;padding-bottom:5px;border-bottom: 1px solid #d1cece;}
.myAlert ul li{box-sizing:border-box;list-style: none;float:left;width:31.111%;margin-left:1.2%;margin-top:10px;height:35px;line-height: 35px;text-align: center;background:#e1dddd;border-radius: 4px;}
.myAlert li.active{color:#df3048;border:2px solid #df3048;}
.myAlert dl{margin:0;font-size:12px;}
.myAlert dt{padding:5px 0 5px 10px;}
.myAlert dd{padding:3px 0px;margin-left:20px;}
.myAlert dd a{color:#534f4f;}
.myAlert .bnt{width:100%;position: absolute;bottom: 7px;text-align: center;}
.myAlert .bnt a:hover{background::#ee1515!important;}
.bnt a{text-decoration: none;display: inline-block; border:0px;height:35px;line-height: 35px;width:150px;background:#df3048;color:#fff;border-radius: 5px;transition: all 1s;-moz-transition: all 1s;    /* Firefox 4 */-webkit-transition: all 1s; /* Safari 和 Chrome */-o-transition: all 1s;}
.myAlert em{font-style: normal;font-weight: bold;font-size:13px;color:#df3048;padding:0 2px;}
.synopsis{overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;}
.showtextline1{overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;}
.restrict{float:right;margin-top:4px;color:#7040a1;}
.tag{padding: 1px 5px;text-align:center;border:1px solid #cfcfcf;color: #999999;border-radius:2px;display: inline-block;margin-top:2px;}
.comment{border-bottom:1px solid #ccc;padding:10px 0px;color:#999;}
.com_user,#content{display: flex;text-align: left}
.com_user_avtar{flex:1;}
.com_user_name{flex:4;}
.com_zan{flex:1;font-weight: bold;padding-top:5px;padding-left:10px;}
.com_zan img{width:38%;margin-left:10px;margin-top:-8px;}
.zan_total{font-size:16px;}
.content{flex:5;color:#333;word-break:break-all;}
.nickname{color:#D6A563;}
.original{display: inline-block;font-size: 12px;color:#999;}
.packsell_desc{padding:0px 10px 10px 10px;font-size:14px;color:#999;line-height: 24px}
.click-item{background: #fff}
.click-item:active{background:#ECECEC;}
.count .flex1.fcd6a465{line-height: 25px}
.count .flex1.fcd6a465 img{vertical-align: middle;margin-top:-2px;}
.footer{width:100%;background: #fff;padding:10px;font-size:14px;}
.contant{color:#000;margin-bottom:5px;}
.contant p{margin:5px 0px;letter-spacing: 1px}
.copyright{text-align: center;}
@media screen and (max-width: 320px) {
	.tool{flex:7;}
    .search img, .booksheet img{width:25px;}
    .booksheet{font-size:1.2em;}
    .logo img{width:90px;max-width:200%;}
}