html{
	font-size: .24rem;
}
body {
    min-width: 320px;
    max-width: 720px;
    margin: 0 auto;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    position: relative;
    font-family: "Microsoft Yahei",Arial,Helvetica,sans-serif;
    font-size: .24rem;
    color: #333333;
}
p{
	margin-bottom: 0;
}
.font-hid {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.dou_hang{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.search{
	width: 100%;
	height: 1.26rem;
	background-color: #fff;
	padding: 0 0.31rem;
	line-height:1.26rem; ;
}
.search:after{
	display: block;
	content:'';
	clear:both;
}
.search_kuang{
	float: left;
	width: 5.95rem;
	height: 0.7rem;
	margin-top: 0.32rem;
}
.search_kuang:after{
	display: block;
	content:'';
	clear:both;
}
.search_kuang>input{
	width: 4.7rem;
    height: 0.7rem;
    background-color:#F5F3F3;
    border: none;
}
.btn_search{
	width: 1.1rem;
	height: 0.7rem;
	margin-right: 0.1rem;
	opacity: 0;
}
.btn_cancel{
	color: #666;
	font-size: 0.26rem;
}
.search_content{
	margin-top: 0.1rem;
	background: #fff;

}
.search_list{
	width: 100%;
	padding: 0 0.39rem;
	height: 2.17rem;
	border-bottom: 1px solid #eee;
}
.search_list:after{
	display: block;
	content:'';
	clear: both;
}
.search_img{
	width: 1.45rem;
	height: 1.85rem;
	margin-top: 0.14rem;
}
.search_img>img{
	width: 1.45rem;
	height: 1.85rem;
}
.search_list_r{
	margin-top: 0.14rem;
	margin-left: 0.13rem;
}
.list_r_one{
	font-size: 0.26rem;
	color: #000;
}
.list_r_two{
	width: 100%;
	margin-top: 0.05rem;
}
.list_r_two>span{
	display: inline-block;
	width: 0.52rem;
	height: 0.25rem;
	font-size: 0.14rem;
	color: #666;
	text-align: center;
	line-height: 0.25rem;
	margin-right: 0.1rem;
}
.list_r_thr{
	width: 100%;
	color: #392324;
	font-size: 0.22rem;
	margin-top: 0.10rem;
}
.list_r_thr>img{
	width: 0.29rem;
	height: 0.29rem;
}
.list_r_four{
	width: 100%;
	height: 0.35rem;
	margin-top: 0.1rem;
}
.list_r_four>span{
	display: block;
	float: left;
	width: 1.2rem;
	padding-left: 0.25rem;
	font-size: 0.24rem;
	color: #999;
}
.list_r_four:after{
	content: '';
	display: block;
	clear: both;
}
