html{
	font-size: .24rem;
}
body {
    min-width: 320px;
    max-width: 720px;
    margin: 0 auto;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    position: relative;
    font-family: "Microsoft Yahei",Arial,Helvetica,sans-serif;
    font-size: .24rem;
    color: #333333;
}
p{
	margin-bottom: 0;
}
.font-hid {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.dou_hang{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
#header{
	width:100%;
	height:0.8rem;
	background-color: #fff;
	line-height: 0.8rem;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
}
.header_left{
	width: 1.85rem;
	height: 0.86rem;
	margin-left: 0.22rem;
}
.header_left>a{
	display: block;
	width: 100%;
	height: 100%;
	line-height:0.8rem ;
}
.header_right{
	width: 3.33rem;
	height: 0.32rem;
	line-height: 0.32rem;
}
.header_right>ul{
	display: inline-block;
}
.header_right>ul>li{
	float: left;
	box-sizing: border-box;
	text-align: center;
	line-height: 0.8rem;
}

.header_right>ul>li>a>img{
	width: 0.35rem;
	height: 0.32rem;
}
.list_one{
	width: 0.88rem;
	height: 0.35rem;
}
.fengge{
	color: #FF3600;
}
.list_two{
	width: 1.46rem;
	height: 0.35rem;
}
.list_two img{
	margin-bottom: 0.05rem;
}
.list_two span{
	display: inline-block;
	font-size: 0.3rem;
	color: #FF3600;
	margin-left: 0.12rem;
	margin-top: 0.02rem;
}
.list_thr{
	width:0.85rem;
	height: 0.35rem;
}
#nav{
	width: 100%;
	height: 0.8rem;
	line-height: 0.8rem;
	margin-top: 0.9rem;
	background-color: #fff;
	text-align: center;
	display: flex;
	display: -webkit-flex;
	justify-content: space-around;
}
#nav>div>a{
	padding: 0.05rem 0.14rem;
	color: #2D0504;
	font-size: 0.24rem;
}
.choose_active{
	color: #fff!important;
	background-color: #FF705A;
	border-radius: 0.05rem;
}
.search_content{
	background: #fff;
}
.search_list{
	width: 100%;
	height: 2.17rem;
	border-top: 1px solid #eee;
}
.search_list:after{
	display: block;
	content:'';
	clear: both;
}
.search_img{
	width: 1.45rem;
	height: 1.85rem;
	margin-top: 0.14rem;
}
.search_img>img{
	width: 1.45rem;
	height: 1.85rem;
}
.search_list_r{
	margin-top: 0.14rem;
	margin-left: 0.13rem;
}
.list_r_one{
	font-size: 0.26rem;
	color: #000;
}
.list_r_two{
	width: 100%;
	margin-top: 0.05rem;
}
.list_r_two>span{
	display: inline-block;
	width: 0.52rem;
	height: 0.25rem;
	border: 1px solid #CECECE;
	border-radius: 0.15rem;
	font-size: 0.14rem;
	color: #666;
	text-align: center;
	line-height: 0.25rem;
	margin-right: 0.1rem;
}
.list_r_thr{
	width: 100%;
	color: #392324;
	font-size: 0.22rem;
	margin-top: 0.10rem;
}
.list_r_thr>img{
	width: 0.29rem;
	height: 0.29rem;
}
.list_r_four{
	width: 100%;
	height: 0.35rem;
	margin-top: 0.1rem;
}
.list_r_four>span{
	display: block;
	float: left;
	width: 1.2rem;
	padding-left: 0.25rem;
	font-size: 0.24rem;
	color: #999;
}
.list_r_four:after{
	content: '';
	display: block;
	clear: both;
}
.rank_list{
	width: 0.81rem;
	height: 100%;
	text-align: center;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: center;
}
.rank_list>img{
	width: 0.64rem;
	height: 0.64rem;
}
.rank_list>span{
	display: inline-block;
	width: 0.42rem;
	height: 0.42rem;
	background-color: #FFD1D3;
	font-size: 0.24rem;
	border-radius: 50%;
	color: #fff;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: center;
}
.list_r_upd{
	color: #999999;
	font-size: 0.22rem;
}
