html{
	font-size: .24rem;
}
body {
    min-width: 320px;
    max-width: 720px;
    margin: 0 auto;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    position: relative;
    font-family: "Microsoft Yahei",Arial,Helvetica,sans-serif;
    font-size: .24rem;
    color: #333333;
}
p{
	margin-bottom: 0;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
.font-hid {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.dou_hang{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
#header{
	width:100%;
	height:0.8rem;
	background-color: #fff;
	line-height: 0.8rem;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
}
.header_left{
	width: 1.85rem;
	height: 0.86rem;
	margin-left: 0.22rem;
}
.header_left>a{
	display: block;
	width: 100%;
	height: 100%;
	line-height:0.8rem ;
}
.header_right{
	width: 3.33rem;
	height: 0.32rem;
	line-height: 0.32rem;
}
.header_right>ul{
	display: inline-block;
}
.header_right>ul>li{
	float: left;
	box-sizing: border-box;
	text-align: center;
	line-height: 0.8rem;
}

.header_right>ul>li>a>img{
	width: 0.35rem;
	height: 0.32rem;
}
.list_one{
	width: 0.88rem;
	height: 0.35rem;
}
.fengge{
	color: #FF3600;
}
.list_two{
	width: 1.46rem;
	height: 0.35rem;
}
.list_two img{
	margin-bottom: 0.05rem;
}
.list_two span{
	display: inline-block;
	font-size: 0.3rem;
	color: #FF3600;
	margin-left: 0.12rem;
	margin-top: 0.02rem;
}
.list_thr{
	width:0.85rem;
	height: 0.35rem;
}
#ID{
	width: 100%;
	height: 2.72rem;
	background:#FF5F2C ;
	margin-top: 0.8rem;
}
.ID_Tuo{
	width: 1.29rem;
	height: 1.29rem;
	margin-top: 0.52rem;
	margin-left: 0.55rem;
}
.ID_Tuo>img{
	width: 1.29rem;
	height: 1.29rem;
	border-radius: 50%;

}
.ID_Code{
	width: 5rem;
	height: 1.29rem;
	margin-left: 0.35rem;
	margin-top: 0.52rem;
}
.codeName{
	font-size: 0.3rem;
	color: #fff;
	margin-top: 0.26rem;
}
.codeNum{
	font-size:0.28rem;
	font-family:ArialMT;
	color: #fff;
	margin-top: 0.22rem;
}
.balance{
	width: 6.88rem;
	height: 3.16rem;
	margin: 0 auto;
	border-radius: 0.15rem;
	background-color: #fff;
	position: relative;
	top: -0.64rem;
}
.bal_msg{
	width: 6.11rem;
	height: 2.16rem;
	margin:0 auto;
	border-bottom: 2px solid #EFEEF3;
}
.mdg_left{
	width: 4rem;
	margin-left: 0.08rem;
	margin-top: 0.28rem;
}
.bi{
	font-size: 0.28rem;
	color: #392324;
}
.yu{
	color: #FF5448;
	font-size: 0.3rem;
	margin-left: 0.23rem;
}
.sub_Recharge{
	width:0.92rem;
	height:0.44rem; 
	border-radius: 0.22rem;
	margin-top:0.26rem ;
	text-align: center;
	line-height: 0.44rem;
	font-size: 0.24rem;
	background:rgba(255,84,72,1);
}
.sub_Recharge>a{
		color: #fff;
}
.bal_other{
	margin-top: 0rem;
}
.other_mar{
	margin-top: 0.2rem;
}
.yu_o{
	color: #392324;
	font-size: 0.3rem;
	margin-left: 0.23rem;
}
.bal-recode{
	width: 6.88rem;
	height: 0.98rem;
	margin: 0 auto;
}
.bal-recode:after{
	content: '';
	display: block;
	clear: both;
}
.recharge_Record{
	width: 3rem;
	height: 0.98rem;
	line-height: 0.98rem;
	margin-left: 0.47rem;
}
.recharge_view{
	width: 2rem;
	height: 0.98rem;
	line-height: 0.98rem;
	text-align: right;
	margin-right: 0.47rem;
}
.recharge_img{
	width: 0.38rem;
	height: 0.38rem;
	margin-bottom: 0.07rem;
}
.recharge_lu{
	color:#392324;
	font-size: 0.26rem;
	margin-left: 0.22rem;
}
.recharge_view>a{
	padding-right: 0.30rem;
	color: #C8C8C8;
	font-size: 0.24rem;
}
.subscribe{
	width: 100%;
	height: 2.63rem;
	background-color: #fff;
	position: relative;
    top: -0.47rem;
}
.subscribe_title{
	width: 100%;
	height:0.87rem ;
}
.s_title-l{
	width: 3rem;
	height: 0.87rem;
	line-height: 0.87rem;
	margin-left: 0.44rem;
}
.s_title-img{
	width: 0.38rem;
	height: 0.38rem;
}
.s_title-til{
	margin-left: 0.1rem;
	color: #222222;
	font-size: 0.26rem;
}
.s_title-r>a,.s_title-r{
	display: block;
	width: 1rem;
	height: 0.87rem;
}
.s_title-r{
	margin-right: 0.63rem;
}
.subscribe_content{
	width: 6.2rem;
	height: 1.5rem;
	margin: 0 auto;
	display: flex;
	display: -webkit-flex;
	justify-content: space-around;
}

._content_list{
	width: 33.3333%;
	height: 1.5rem;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	text-align: center;
}
._content_list img{
	width: 1.75rem;
	height: 1.07rem;
	border-radius: 0.1rem;
}
._content_list_k{
	width: 1.75rem;
	height: 1.07rem;
	position: relative;
}
.ss_num{
	position: absolute;
	right: 0.1rem;
	bottom: 0;
	color: #FFFEFE;
	font-size: 0.18rem;
}
._content_list_t{
	color: #392324;
	font-size: 0.24rem;
}
.modify{
	width: 100%;
	height: 1.02rem;
	background-color: #fff;
	position: relative;
	top: -0.44rem;
}
.modify .subscribe_title{
	height: 1.02rem;
}
.modify .s_title-l,.modify .s_title-r{
	height: 1.02rem;
	line-height: 1.02rem;
}
.drop_Out{
	width: 100%;
	height: 1.02rem;
	line-height: 1.02rem;
	background-color: #fff;
	text-align: center;
}
.drop_Out>a{
	display: block;
	width: 100%;
	height: 100%;
	color: #222222;
	font-size: 0.36rem;
}
