<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>生成带参数二维码</title>
</head>
<body>
	
<div class="clearfix">
		<form class="form-horizontal form" action="" method="post" id="form1">
			<input type="hidden" name="id" value="">
			<input type="hidden" name="acid" value="">
			<div class="panel panel-default">
				<div class="panel-heading">
					生成二维码
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">场景名称</label>
						<div class="col-sm-9 col-xs-12">
							<input type="text" id="scene-name" class="form-control" placeholder="" name="scene-name" value="">
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">关联关键字</label>
						<div class="col-sm-9 col-xs-12">
							<input type="text" id="keyword" class="form-control" name="keyword" value=""><span class="help-block">二维码对应关键字, 用户扫描后系统将通过场景ID返回关键字到平台处理.</span>
						</div>
					</div>
										<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">二维码类型</label>
						<div class="col-sm-9 col-xs-12">
							<label for="radio_1" class="radio-inline"><input type="radio" name="qrc-model" id="radio_1" onclick="$('#model2').hide();$('#model1').show();" value="1" checked="checked"> 临时</label>
							<label for="radio_0" class="radio-inline"><input type="radio" name="qrc-model" id="radio_0" onclick="$('#model1').hide();$('#model2').show();" value="2"> 永久</label>
								<span class="help-block">目前有2种类型的二维码, 分别是临时二维码和永久二维码, 前者有过期时间, 最大为30天（2592000秒）, 但能够生成较多数量, 后者无过期时间, 数量较少(目前参数只支持1--100000).</span>
						</div>
					</div>
						<div class="form-group" id="model1" style="display: none;">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">过期时间</label>
							<div class="col-sm-9 col-xs-12">
								<input type="text" id="expire-seconds" class="form-control" placeholder="" name="expire-seconds" value="2592000">
								<span class="help-block">临时二维码过期时间, 最大为30天（2592000秒）.</span>
							</div>
						</div>
						<div class="form-group" id="model2" style="display: block;">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">场景值</label>
							<div class="col-sm-9 col-xs-12">
								<input type="text" class="form-control" placeholder="场景值" id="scene_str" name="scene_str" value="">
								<span class="help-block">场景值不能为空,并且只能为字符串</span>
							</div>
						</div>
									</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
						<button type="submit" class="btn btn-primary col-lg-1" name="submit" value="提交">提交</button>
						<input type="hidden" name="token" value="a6d7b37f">
				</div>
			</div>
		</form>
	</div>
</body>
</html>
